<template>
  <v-stepper v-model="e1" v-if="show">
    <v-stepper-header>
      <v-stepper-step :complete="e1 > 1" step="1">Identification</v-stepper-step>
      <v-divider></v-divider>
      <v-stepper-step :complete="e1 > 2" step="2">Socio-Demographic Information</v-stepper-step>
      <v-divider></v-divider>
      <v-stepper-step :complete="e1 > 3" step="3">The Tumor and its investigation</v-stepper-step>
      <v-divider></v-divider>

      <v-stepper-step :step="totalStep">Source of Information</v-stepper-step>

      <v-snackbar
        v-model="snackbar"
        multi-line
        right
        :timeout="timeout"
        color="light-green darken-3"
        top
      >
        {{ step.Patient.registration_no }} - {{ step.Patient.patient_name }} has been updated  
    </v-snackbar>
    </v-stepper-header>

    <v-stepper-items>
      <v-stepper-content step="1" v-if="e1 == 1">
        <v-container grid-list-lg>
          <v-layout row wrap>
            <v-flex>
              <v-text-field label="Registration Number" v-model="step.Patient.registration_no"></v-text-field>
            </v-flex>
            <v-flex>
              <v-text-field label="National Identity Number" v-model="step.Patient.national_identity_no"></v-text-field>
            </v-flex>
          </v-layout>
          <v-layout row wrap>
            <v-flex>
              <v-select :items="certificate_type" label="Certificate Type" v-model="step.Patient.certificate_type" item-text="text" item-value="value"></v-select>
            </v-flex>
          </v-layout>
          <v-layout row wrap v-if="step.Patient.certificate_type">
            <v-flex>
              <v-text-field v-model="step.Patient.certificate_no" :label="getCertificateType"></v-text-field>
            </v-flex>
          </v-layout>
          <v-layout column> 
            <v-flex row pl-5>
              <v-spacer></v-spacer>
              <v-text-field type="date" v-model="step.Patient.certificate_issue_date" label="Date of Issue"></v-text-field>
            </v-flex>
            <v-flex pl-5>
              <v-spacer></v-spacer>
              <v-text-field v-model="step.Patient.certificate_issue_place" label="Place of Issue"></v-text-field>
            </v-flex>
          </v-layout>
          <v-layout row wrap>
            <v-flex>
              <v-text-field v-model="step.Patient.patient_name" label="Name of Patient(Full Name)"></v-text-field>
            </v-flex>
          </v-layout>
          <v-layout row wrap>
            <v-flex>
              <v-text-field v-model="step.Patient.relative_name" label="Relative Name"></v-text-field>
            </v-flex>
          </v-layout>
          <v-layout row wrap>
            <v-flex pl-5>
              <v-select :items="relation_with_patient" item-text="text" item-value="value" v-model="step.Patient.relation_with_patient" label="Relation with patient"></v-select>
            </v-flex>
          </v-layout>
          <v-layout row wrap>
            <v-flex>
              <v-text-field label="Telephone Number" v-model="step.Patient.phone_no"></v-text-field>
            </v-flex>
            <v-flex>
              <v-text-field label="Alternative Telephone Number" v-model="step.Patient.alternative_phone_no"></v-text-field>
            </v-flex>
          </v-layout>
        </v-container>
      </v-stepper-content>

      <v-stepper-content step="2" v-if="e1 == 2">
        <v-container grid-list-lg>
          <v-layout row wrap>
            <v-flex>
              <v-select :items="gender" item-text="text" item-value="value" label="Sex" v-model="step.Demographic.gender">
              </v-select>
            </v-flex>
            <v-flex>
              <v-text-field  type="date" label="Date of Birth" v-model="step.Demographic.birth_date"></v-text-field>
            </v-flex>
          </v-layout>
          <v-layout row wrap>
            <v-flex>
              <v-text-field type="date" label="Completed years of age at diagnosis" v-model="step.Demographic.completed_diagnosis_date"></v-text-field>
            </v-flex>
          </v-layout>
          <v-layout row wrap>
              <label for="Address"> <b>Address</b> </label>
          </v-layout>
          <v-layout row wrap>
            <v-flex>
                <v-select :items="province" item-key="text" item-value="value" label="Province" v-model="step.Demographic.province"></v-select>
            </v-flex>
            <v-flex>
              <v-select :items="district" item-text="text" item-value="value" label="District" v-model="step.Demographic.district"></v-select>  
            </v-flex>
          </v-layout>
          <v-layout row wrap>
            <v-flex>
              <v-select
                :items="gp_mp"
                v-model="step.Demographic.gp_mp"
                label="Select Nagarpalika"
                item-text="text" 
                item-value="value"
              ></v-select>
            </v-flex>
          </v-layout>
          <v-layout row wrap v-if="step.Demographic.gp_mp">
            <v-flex>
              <v-text-field :label="getGpName" v-model="step.Demographic.gp_mp_name"></v-text-field>
            </v-flex>
          </v-layout>
          <v-layout row wrap>
            <v-flex>
              <v-text-field label="Ward" v-model="step.Demographic.ward"></v-text-field>
            </v-flex>
            <v-flex>
              <v-text-field label="Tole/ Village" v-model="step.Demographic.village"></v-text-field>
            </v-flex>
          </v-layout>
          <v-layout row wrap>
            <v-flex>
              <v-text-field
                type="number"
                v-model="step.Demographic.stay_no"
                label="Length of stay in Kathmandu Valley before the diagnosis of Cancer (in years)"
              ></v-text-field>
            </v-flex>
          </v-layout>
          <v-layout row wrap>
            <v-flex>
              <v-select
                :items="religions"
                label="Religion"
                v-model="step.Demographic.religion"
                item-text="text" 
                item-value="value"
              ></v-select>
            </v-flex>
          </v-layout>
          <v-layout row wrap>
            <v-flex>
                <v-select :items="marital_status" item-text="text" item-value="value" v-model="step.Demographic.marital_status" label="Marital status"></v-select>
            </v-flex>
            <v-flex>
              <v-select :items="ethnic_group" item-text="text" item-value="value" label="Ethnic group" v-model="step.Demographic.ethnic_group"></v-select>
            </v-flex>
          </v-layout>
          <v-layout row wrap>
            <v-flex>
              <v-select :items="education" item-text="text" item-value="value" label="Education" v-model="step.Demographic.education"></v-select>
            </v-flex>
            <v-flex>
              <v-text-field label="Occupation" v-model="step.Demographic.occupation"></v-text-field>
            </v-flex>
          </v-layout>
        </v-container>
      </v-stepper-content>

      <v-stepper-content step="3" v-if="e1 == 3">
        <v-container grid-list-lg>
          <v-layout row wrap>
            <v-flex>
              <v-text-field label="Clinical diagnosis" v-model="step.Investigation.clinical_diagnosis"></v-text-field>
            </v-flex>
          </v-layout>
          <v-layout row wrap>
            <v-flex>
              <v-text-field
                label="Date of diagnosis"
                type="date"
                hint="Please refer Guidelines for Date of Incidence"
                v-model="step.Investigation.date_of_diagnosis"
              ></v-text-field>
            </v-flex>
          </v-layout>
          <v-layout row wrap>
            <label for="">Most valid basis of diagnosis</label>
          </v-layout>
          <v-layout row wrap>
              <v-checkbox
                v-model="step.Investigation.selected"
                label="Death certificate only"
                value="8"
              ></v-checkbox>
              <v-checkbox v-model="step.Investigation.selected" label="Clinical only" value="1"></v-checkbox>
              <v-checkbox
                v-model="step.Investigation.selected"
                label="Clinical investigation (including X-ray/ ultrasound etc.)"
                value="2"
              ></v-checkbox>
              <v-checkbox v-model="step.Investigation.selected" label="Specific tnm_tumor Marker" value="3"></v-checkbox>
              <v-checkbox
                v-model="step.Investigation.selected"
                label="Cytology/ Peripheral blood/ bone marrow"
                value="7"
              ></v-checkbox>
              <v-checkbox v-model="step.Investigation.selected" label="Histology of tnm_metasis" value="4"></v-checkbox>
              <v-checkbox
                v-model="step.Investigation.selected"
                label="Histology of primary tnm_tumor"
                value="5"
              ></v-checkbox>
              <v-checkbox v-model="step.Investigation.selected" label="Unknown" value="6"></v-checkbox>
          </v-layout>
          <v-layout row wrap>
            <v-flex>
              <v-text-field label="Primary site" v-model="step.Investigation.primary_site"></v-text-field>
            </v-flex>
            <v-flex>
              <v-text-field label="ICD-03 code" v-model="step.Investigation.primary_site_code"></v-text-field>
            </v-flex>
          </v-layout>
          <v-layout row wrap>
            <v-flex>
              <v-select :items="literality" v-model="step.Investigation.literality" label="Literality of primary tnm_tumor"></v-select>
            </v-flex>
          </v-layout>
          <v-layout row wrap>
            <v-flex>
              <v-text-field label="Morphological Diagnosis of primary tumor" v-model="step.Investigation.morphological_diagnosis"></v-text-field>
            </v-flex>
            <v-flex>
              <v-text-field label="ICD-03 code" v-model="step.Investigation.morphological_diagnosis_code"></v-text-field>
            </v-flex>
          </v-layout>
          <v-layout row wrap>
            <v-flex>
              <v-select :items="behavior" item-text="text" item-value="value" label="Behavior" v-model="step.Investigation.behavior"></v-select>
            </v-flex>
            <v-flex>
              <v-select :items="grade" item-text="text" item-value="value" label="Grade" v-model="step.Investigation.grade"></v-select>
            </v-flex>
          </v-layout>
          <v-layout row wrap>
            <v-flex>
              <v-select :items="extent_of_disease" item-text="text" item-value="value" label="Extent of disease" v-model="step.Investigation.extent_of_disease"></v-select>
            </v-flex>
          </v-layout>
          <v-layout row wrap>
              <label for="TNMClassification"> <b>TNM Classification</b> </label>
          </v-layout>
          <v-layout row wrap>
            <v-flex>
              <v-text-field label="Tumor" v-model="step.Investigation.tnm_tumor"></v-text-field>
            </v-flex>
            <v-flex>
              <v-text-field label="Node" v-model="step.Investigation.tnm_node"></v-text-field>
            </v-flex>
            <v-flex>
              <v-text-field label="Metasis" v-model="step.Investigation.tnm_metasis"></v-text-field>
            </v-flex>
          </v-layout>
          <v-layout row wrap>
            <v-flex>
              <v-select :items="stages" item-text="text" item-value="value" label="Stage (FIGO for Cervical Cancer)" v-model="step.Investigation.stages"></v-select>
            </v-flex>
          </v-layout>
          <v-layout row wrap>
              <label for=""><b>Treatment given</b></label>
          </v-layout>
          <v-layout row wrap>
            <v-checkbox v-model="step.Investigation.treatment" label="No treatment" value="no_treatment"></v-checkbox>
            <v-checkbox v-model="step.Investigation.treatment" label="Radiotherapy" value="radiotherapy"></v-checkbox>
            <v-checkbox v-model="step.Investigation.treatment" label="Chemotherapy" value="chemotherapy"></v-checkbox>
            <v-checkbox v-model="step.Investigation.treatment" label="Surgery" value="surgery"></v-checkbox>
            <v-checkbox v-model="step.Investigation.treatment" label="Surgery + CT" value="surgery_ct"></v-checkbox>
            <v-checkbox v-model="step.Investigation.treatment" label="Surgery + RT" value="surgery_rt"></v-checkbox>
            <v-checkbox v-model="step.Investigation.treatment" label="Surgery + CT + RT" value="surgery_ct_rt"></v-checkbox>
            <v-checkbox v-model="step.Investigation.treatment" label="CT + RT" value="ct_rt"></v-checkbox>
            <v-checkbox v-model="step.Investigation.treatment" label="Hormone therapy" value="hormone_therapy"></v-checkbox>
            <v-checkbox v-model="step.Investigation.treatment" label="Palliative" value="palliative"></v-checkbox>
            <v-checkbox v-model="step.Investigation.treatment" label="Other therapy" value="other"></v-checkbox>
            <v-checkbox v-model="step.Investigation.treatment" label="Not available/ Unknown" value="unknown"></v-checkbox>
          </v-layout>
          <v-layout row wrap>
            <v-flex>
              <v-select :items="completion_treatment" item-text="text" item-value="value" v-model="step.Investigation.treatment_completion" label="Completion of treatment"></v-select>
            </v-flex>
          </v-layout>
          <v-layout row wrap>
            <label for=""><b>Secondary site/ Metastatic site</b></label>
          </v-layout>
          <v-layout row wrap>
            <v-checkbox v-model="secondary_site" label="None" value="1"></v-checkbox>
            <v-checkbox v-model="secondary_site" label="Brain" value="2"></v-checkbox>
            <v-checkbox v-model="secondary_site" label="Distant lymph tnm_node" value="3"></v-checkbox>
            <v-checkbox v-model="secondary_site" label="Ovary" value="4"></v-checkbox>
            <v-checkbox v-model="secondary_site" label="Bone" value="5"></v-checkbox>
            <v-checkbox v-model="secondary_site" label="Lungs" value="6"></v-checkbox>
            <v-checkbox v-model="secondary_site" label="Liver" value="7"></v-checkbox>
            <v-checkbox v-model="secondary_site" label="Multiple sites" value="8"></v-checkbox>
            <v-checkbox v-model="secondary_site" label="Other" value="9"></v-checkbox>
            <v-checkbox v-model="secondary_site" label="Not available/ Unknown" value="10"></v-checkbox>
          </v-layout>
          <v-layout row wrap>
            <v-flex>
              <v-text-field  type="date" label="Date of death" v-model="step.Investigation.date_of_death"></v-text-field>
            </v-flex>
            <v-flex>
              <v-select :items="death_cause" label="Cause of death" v-model="step.Investigation.cause_of_death"></v-select>
            </v-flex>
            <v-flex>
              <v-select :items="death_place" label="Place of death" v-model="step.Investigation.place_of_death"></v-select>
            </v-flex>
            <v-flex>
              <v-select :items="multiple_primary_tumors" label="Multiple primary tumors" v-model="step.Investigation.multiple_primary_tumors" item-text="text" item-value="value"></v-select>
            </v-flex>
          </v-layout>
          
          <v-layout row wrap>
            <v-dialog v-model="tableDialog" light persistent max-width="50%" lazy>
                <v-btn slot="activator" color="primary" dark>Add A Follow Up</v-btn>
                <v-card>
                  <v-card-title>
                    <span class="headline">Add Source of Information</span>
                  </v-card-title>

                  <v-card-text>
                    <v-container grid-list-md>
                      <v-layout wrap>
                        <v-flex xs12 sm6 md4>
                          <v-text-field class="py-1"  type="date" v-model="table.follow_date"  label="Date of follow up" required></v-text-field>
                        </v-flex>
                        <v-flex xs12 sm6 md4>
                          <v-text-field class="py-1" v-model="table.dead" label="Dead" required ></v-text-field>
                        </v-flex>
                        <v-flex xs12 sm6 md4>
                          <v-text-field class="py-1" v-model="table.alive" label="Dead" required ></v-text-field>
                        </v-flex>
                        <v-flex xs12 sm6 md4>
                          <v-text-field class="py-1" v-model="table.emigrated" label="Emigrated" required ></v-text-field>
                        </v-flex>
                        <v-flex xs12 sm6 md4>
                          <v-text-field class="py-1" v-model="table.available" label="Not available/Unknown" required ></v-text-field>
                        </v-flex>
                      </v-layout>
                    </v-container>
                  </v-card-text>

                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <div class="text-xs-center">
                      <v-btn color="error" @click="tableDialog = false" > Close </v-btn>
                      <v-btn color="success" @click.prevent="saveAndContinueFollowUp()" > Save and Continue</v-btn>
                      <v-btn color="success" @click.prevent="saveFollowup()" > Save</v-btn>
                    </div>
                  </v-card-actions>
                </v-card>
            </v-dialog>
          </v-layout>
  
          <v-layout column>
            <v-data-table
              :headers="stepThreeHeaders"
              :items="followup_items"
              class="elevation-1"
              :hide-actions="hidePagination"
            >
              <template slot="items" slot-scope="props">
                <td>{{ props.item.round }}</td>
                <td class="text-xs-right">{{ props.item.follow_date }}</td>
                <td class="text-xs-right">{{ props.item.alive }}</td>
                <td class="text-xs-right">{{ props.item.dead }}</td>
                <td class="text-xs-right">{{ props.item.emigrated }}</td>
                <td class="text-xs-right">{{ props.item.available }}</td>
              </template>
            </v-data-table>
          </v-layout>
        </v-container>
      </v-stepper-content>

      <v-stepper-content step="4" v-if="e1 === 4">
        <v-container grid-list-lg>
          <v-layout column>
            <v-dialog v-model="tableSecondDialog" light persistent max-width="80%" lazy>
                <v-btn slot="activator" color="primary" dark>Add Source of Information</v-btn>
                <v-card>
                  <v-card-title>
                    <span class="headline">Add Source of Information</span>
                  </v-card-title>

                  <v-card-text>
                    <v-container grid-list-md>
                      <v-layout wrap>
                        <v-flex xs12 sm6 md4>
                          <v-text-field  type="date" v-model="tableSecond.source_date"  label="Date" required></v-text-field>
                        </v-flex>
                        <v-flex xs12 sm6 md4>
                          <v-text-field v-model="tableSecond.type" label="Type Of Source" required ></v-text-field>
                        </v-flex>
                        <v-flex xs12 sm6 md4>
                          <v-text-field v-model="tableSecond.name" label="Name of source" required ></v-text-field>
                        </v-flex>
                        <v-flex xs12 sm6 md4>
                          <v-text-field v-model="tableSecond.file_no" label="File Number" required ></v-text-field>
                        </v-flex>
                        <v-flex xs12 sm6 md4>
                          <v-text-field v-model="tableSecond.demographic_information" label="Demographic Information Yes/No" required ></v-text-field>
                        </v-flex>
                        <v-flex xs12 sm6 md4>
                          <v-text-field v-model="tableSecond.diagnosis_information" label="Information of Diagnosis Yes/No" required ></v-text-field>
                        </v-flex>
                        <v-flex xs12 sm6 md4>
                          <v-text-field v-model="tableSecond.clinical_information" label="Clinical Information on Yes/No" required ></v-text-field>
                        </v-flex>
                        <v-flex xs12 sm6 md4>
                          <v-text-field v-model="tableSecond.follow_up_information" label="Information on Follow up Yes/No" required ></v-text-field>
                        </v-flex>
                      </v-layout>
                    </v-container>
                  </v-card-text>

                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <div class="text-xs-center">
                      <v-btn color="warning" @click="tableSecondDialog = false" > Close </v-btn>
                      <v-btn color="success" @click.prevent="saveAndContinueSource()" > Save and Continue</v-btn>
                      <v-btn color="success" @click.prevent="saveSource()" > Save</v-btn>
                    </div>
                  </v-card-actions>
                </v-card>
            </v-dialog>
          </v-layout>

          <v-layout column>
            <v-data-table
              :headers="stepFourHeaders"
              :items="source_items"
              class="elevation-1"
              :hide-actions="hidePagination"
            >
              <template slot="items" slot-scope="props">
                <td>{{ props.item.sr_no }}</td>
                <td class="text-xs-right">{{ props.item.source_date }}</td>
                <td class="text-xs-right">{{ props.item.type }}</td>
                <td class="text-xs-right">{{ props.item.name }}</td>
                <td class="text-xs-right">{{ props.item.file_no }}</td>
                <td class="text-xs-right">{{ props.item.demographic_information }}</td>
                <td class="text-xs-right">{{ props.item.diagnosis_information }}</td>
                <td class="text-xs-right">{{ props.item.clinical_information }}</td>
                <td class="text-xs-right">{{ props.item.follow_up_information }}</td>
              </template>
            </v-data-table>
          </v-layout>

          <v-layout row wrap>
            <v-flex>
              <v-text-field  type="date" v-model="step.Source.collected_date" label="Date of data collection"></v-text-field>
            </v-flex>
          </v-layout>
          <v-layout row wrap>
            <v-flex>
              <v-text-field v-model="step.Source.collected_by" label="Collected by"></v-text-field>
            </v-flex>
            <v-flex>
              <v-text-field v-model="step.Source.approved_by" label="Approved by"></v-text-field>
            </v-flex>
          </v-layout>
          <v-layout row wrap>
            <v-flex>
              <v-textarea v-model="step.Source.remarks" label="Remarks from Data Collector"></v-textarea>
            </v-flex>
          </v-layout>
        </v-container>
      </v-stepper-content>
      <v-flex>
          <v-layout row justify-end>
            <v-btn color="primary" v-if="backButton" @click="back()">Back</v-btn>
            <v-btn color="primary" v-if="nextButton" @click="next()">Continue</v-btn>
            <v-btn color="success" @click="updatePatient()">Update</v-btn>
            <!-- <preview-form :data="getShowData" v-if="e1 === 4"></preview-form>  -->
          </v-layout>
      </v-flex> 
    
    </v-stepper-items>
  </v-stepper>
</template>

<script>
import constant from "../../constant.js";
import custom from "../../custom.js";
export default {
  mounted() {
    this.religions = constant.religions;
    this.province = constant.province;
    this.behavior = constant.behavior;
    this.gender = constant.gender;
    this.gp_mp = constant.gp_mp;
    this.marital_status = constant.marital_status;
    this.relation_with_patient = constant.relation_with_patient;
    this.ethnic_group = constant.ethnic_group;
    this.district = constant.district;
    this.patient_religion = constant.patient_religion;
    this.education = constant.education;
    this.literality = constant.literality;
    this.certificate_type = constant.certificate_type;
    this.grade = constant.grade;
    this.education = constant.education;
    this.extent_of_disease = constant.extent_of_disease;
    this.stages = constant.stages;
    this.completion_treatment = constant.completion_treatment;
    this.death_cause = constant.death_cause;
    this.death_place = constant.death_place;
    this.multiple_primary_tumors = constant.multiple_primary_tumors;
    this.getPatient();
  },
  data() {
    return {
      snackbar : false,
      timeout: 4000,
      message: '',
      tableDialog : false,
      tableSecondDialog: false,
      table: {},
      tableSecond: {
        "source_date" : '',
        "type" : '',
        "name" : '',
        "file_no" : '',
        "demographic_information" : '',
        "diagnosis_information" : '',
        "clinical_information" : '',
        "follow_up_information" : ''
      },
      totalStep: 4,
      e1: 1,
      selected: [],
      // constant dropbox start
      religions: [],
      province: [],
      behavior: [],
      gender: [],
      gp_mp:[],
      followup_items: [],
      marital_status:[],
      relation_with_patient:[],
      ethnic_group:[],
      district:[],
      patient_religion:[],
      education:[],
      literality:[],
      certificate_type:[],
      grade:[],
      show: false,
      education:[],
      extent_of_disease:[],
      stages:[],
      completion_treatment:[],
      death_cause:[],
      death_place:[],
      multiple_primary_tumors:[],
      // constant dropbox end
      stepFourHeaders: [
        {
          text: 'Sr. No',
          align: 'left',
          sortable: false,
          value: 'sr_no',
          width: '1%'
        },
        {text:'Date', sortable: false},
        {text:'Type of Source(Hospital,Laboratory,Hospice,Others(Specify))', sortable: false, width: '1%'},
        {text:'Name of Source', sortable: false, width: '1%'},
        {text:'File Number', sortable: false, width: '1%'},
        {text:'Demographic Information Yes/No', sortable: false, width: '1%'},
        {text:'Information Of Diagnosis Yes/No', sortable: false, width: '1%'},
        {text:'Clinical Information Yes/No', sortable: false, width: '1%'},
        {text:'Information on Follow up Yes/No', sortable: false, width: '1%'}
      ],
      source_items: [],
      stepThreeHeaders:[
        {
          text: 'Follow-up',
          align: 'left',
          sortable: false,
          value: 'name'
        },
        {text:'Date of follow up', sortable: false},
        {text:'Alive', sortable: false},
        {text:'Dead', sortable: false},
        {text:'Emigrated', sortable: false},
        {text:'Not available/Unknown', sortable: false}
      ],
      followup_items: [],
      backButton : false,
      nextButton : true,
      step: {
        Patient: {},
        Demographic: {},
        Investigation: {},
        Source: {}
      },
      hidePagination: true,
      secondary_site: [],
      id: null,
    };
  },
  methods: {
    getPatient(){
      var id = this.$route.params.id;
      this.$store.commit("setLoading", true);
      axios.get('/patient/'+id)
        .then((response) => {
          if(response.data) {
            this.id = response.data.Patient.id;
            this.step.Patient = response.data.Patient;
            this.step.Demographic = response.data.Demographic;
            this.step.Investigation = response.data.Investigation;
            
            this.step.Source.collected_date = response.data.Patient.collected_date;
            this.step.Source.collected_by = response.data.Patient.collected_by;
            this.step.Source.approved_by = response.data.Patient.approved_by;
            this.step.Source.remarks = response.data.Patient.remarks;

            this.step.Source.source_of_info = response.data.Source;
            this.step.Investigation.follow_table = response.data.Followup;
            this.followup_items = response.data.Followup;
            this.source_items = response.data.Source;
            
            this.source_items.map((data,index) => {
              data.sr_no = parseInt(index) + 1;
            });
            this.show = true;
            this.$store.commit("setLoading", false);
          }
        })
        .catch(error => {
          console.log(err);
          this.$store.commit("setLoading", false);
        });
    },
    reset() {
      this.e1 = 1;
      this.backButton = false;
      this.nextButton = true;
      this.step= {
        Patient: {},
        Demographic: {},
        Investigation: {},
        Source: {}
      };
    },

    next: function() {
      this.scrollToTop();
      this.nextButton = true; 
      this.backButton = true; 
      this.e1 = ++this.e1  % 5;
      
      if (this.el == 0) {
        this.el =1;
        this.backButton = false; 
      }
      if (this.e1 == this.totalStep) {
        this.nextButton = false; 
      }
    },
    back: function() {
      this.scrollToTop();
      this.nextButton = true; 
      if (this.e1 !== 0) {
        this.backButton = true; 
        this.e1--;
      }
      if (this.e1 == 1 || this.e1 == 0 ) {
        this.backButton = false;
      }
    },
    scrollToTop: function() {
      window.scrollTo({
        top: 0,
        behavior: 'smooth'
      });

    },
    saveFollowup: function() {
      this.saveAndContinueFollowUp();
      this.tableDialog = false;
    },
    saveAndContinueFollowUp: function() {
      if (this.table.follow_date.length != 0 && this.table.follow_date.length != undefined) {
        var tableLength = (this.followup_items.length === 0) ? 1 : this.followup_items.length + 1; 
        this.followup_items.push({
          round: custom.getGetOrdinal(tableLength) + ' Follow up',
          follow_date: this.table.follow_date,
          alive: this.table.alive,
          dead: this.table.dead,
          emigrated: this.table.emigrated,
          available: this.table.available,
        });
        this.table = {};
      }
    },
    saveSource: function() {
      this.saveAndContinueSource();
      if (!Object.values(this.tableSecond).includes('')) {
        this.tableSecondDialog = false;
      }
    },
    saveAndContinueSource: function() {
      if (!Object.values(this.tableSecond).includes('')) {
        var tableLength = (this.source_items.length == 0) ? 1 : this.source_items.length + 1; 
        this.source_items.push({
          "sr_no" : tableLength,
          "source_date" : this.tableSecond.source_date,
          "type" : this.tableSecond.type,
          "name" : this.tableSecond.name,
          "file_no" : this.tableSecond.file_no,
          "demographic_information" : this.tableSecond.demographic_information,
          "diagnosis_information" : this.tableSecond.diagnosis_information,
          "clinical_information" : this.tableSecond.clinical_information,
          "follow_up_information" : this.tableSecond.follow_up_information
        });
        this.tableSecond = {};
      }else{
        debugger;
        var empty = Object.values(this.tableSecond).filter(function(data,index){

        });
      }
    },
    updatePatient: function() {
      this.step.Investigation.follow_table = this.followup_items;
      this.step.Source.source_of_info = this.source_items;
      var data = {
              follow_table : this.followup_items,
              source_of_info : this.source_items,
              registration_no  : this.step.Patient.registration_no,
              national_identity_no  : this.step.Patient.national_identity_no,
              certificate_no  : this.step.Patient.certificate_no,
              certificate_type  : this.step.Patient.certificate_type,
              certificate_issue_date : this.step.Patient.certificate_issue_date,
              certificate_issue_place  : this.step.Patient.certificate_issue_place,
              patient_name : this.step.Patient.patient_name,
              relative_name : this.step.Patient.relative_name,
              relation_with_patient : this.step.Patient.relation_with_patient,
              phone_no  : this.step.Patient.phone_no,
              alternative_phone_no  : this.step.Patient.alternative_phone_no,
              gender: this.step.Demographic.gender,
              birth_date: this.step.Demographic.birth_date,
              completed_diagnosis_date: this.step.Demographic.completed_diagnosis_date,
              province: this.step.Demographic.province,
              district: this.step.Demographic.district,
              ward: this.step.Demographic.ward,
              gp_mp_name: this.step.Demographic.gp_mp_name,
              village: this.step.Demographic.village,
              gp_mp: this.step.Demographic.gp_mp,
              stay_no: this.step.Demographic.stay_no,
              religion: this.step.Demographic.religion,
              marital_status: this.step.Demographic.marital_status,
              ethnic_group: this.step.Demographic.ethnic_group,
              education: this.step.Demographic.education,
              occupation: this.step.Demographic.occupation,
              clinical_diagnosis  : this.step.Investigation.clinical_diagnosis,
              date_of_diagnosis : this.step.Investigation.date_of_diagnosis,
              basis_of_diagnosis  : this.step.Investigation.selected,
              primary_site  : this.step.Investigation.primary_site,
              primary_site_code  : this.step.Investigation.primary_site_code,
              literality : this.step.Investigation.literality,
              morphological_diagnosis : this.step.Investigation.morphological_diagnosis,
              morphological_diagnosis_code  : this.step.Investigation.morphological_diagnosis_code,
              behavior : this.step.Investigation.behavior,
              grade : this.step.Investigation.grade,
              extent_of_disease : this.step.Investigation.extent_of_disease,
              tnm_tumor : this.step.Investigation.tnm_tumor,
              tnm_node  : this.step.Investigation.tnm_node,
              tnm_metasis : this.step.Investigation.tnm_metasis,
              stages  : this.step.Investigation.stages,
              treatment_completion : this.step.Investigation.treatment_completion,
              date_of_death : this.step.Investigation.date_of_death,
              cause_of_death  : this.step.Investigation.cause_of_death,
              place_of_death  : this.step.Investigation.place_of_death,
              multiple_primary_tumors : this.step.Investigation.multiple_primary_tumors,
              collected_date   :   this.step.Source.collected_date,
              collected_by    :   this.step.Source.collected_by,
              approved_by   :   this.step.Source.approved_by,
              remarks   :   this.step.Source.remarks,
              treatment: this.step.Investigation.treatment,
              secondary_site : this.step.Investigation.secondary_site,
          }
      this.$store.commit("setLoading", true);
      custom.scrollToTop();
      axios.put('/patient/'+this.id,{data: data })
        .then(response => {
          this.message = "Form has been submitted successfully";
          this.snackbar = true;

          setTimeout(() => {
            this.redirectToPatient();
          }, this.timeout);
        })
        .catch(error => {
          console.log("Debug Message Error ",error);
          this.$store.commit("setLoading", false);
        });
    },
    redirectToPatient: function(){
      this.$router.push({name: 'patient'});
    }
  },
  computed: {
    getCertificateType: function(){
      if (this.step.Patient.certificate_type) {
        return this.step.Patient.certificate_type + " no";
      }
      return "";
    },
    getGpName: function() {
      if (this.step.Demographic.gp_mp) {
        return this.step.Demographic.gp_mp + " Name";
      }
      return '';
    },
    getShowData: function() {
      this.step.Patient.certificate_type_title = this.getCertificateType;

      this.step.Demographic.gp_mp_name_title = this.getGpName;
      // Table
      this.step.Investigation.secondary_site = this.secondary_site;
      this.step.Investigation.follow_table = this.followup_items;
      this.step.Investigation.follow_table_header = this.stepThreeHeaders;
      this.step.Source.source_of_info = this.source_items;
      this.step.Source.source_of_info_header = this.stepFourHeaders;

      return this.step;
    }
  }

};
</script>
