<template>
  <div>
    <v-stepper v-model="e1">
      <v-stepper-header>
        <v-stepper-step :complete="e1 > 1" step="1">Identification</v-stepper-step>
        <v-divider></v-divider>
        <v-stepper-step :complete="e1 > 2" step="2">Primary site and Staging</v-stepper-step>
        <v-divider></v-divider>
        <v-stepper-step :complete="e1 > 3" step="3">Secondary site</v-stepper-step>
        <v-divider></v-divider>
        <v-stepper-step :complete="e1 > 4" step="4">Treatment</v-stepper-step>
        <v-divider></v-divider>
        <v-stepper-step :complete="e1 > 5" step="5">Follow up and Infromation source</v-stepper-step>
        <v-divider></v-divider>
        <v-stepper-step :step="totalStep">Others</v-stepper-step>

        <!-- <v-snackbar
        v-model="snackbar"
        multi-line
        right
        :timeout="timeout"
        color="light-green darken-3"
        top
      >
        {{ step.PatientIdentification.registration_no }} - {{ step.PatientIdentification.patient_first_name }} has been registered</v-snackbar>-->
      </v-stepper-header>

      <v-stepper-items>
        <v-stepper-content step="1" v-if="e1 == 1">
          <PatientIdentification />
        </v-stepper-content>

        <v-stepper-content step="2" v-if="e1 == 2">
          <PrimarySiteAndStaging />
        </v-stepper-content>

        <v-stepper-content step="3" v-if="e1 === 3">
          <SecondarySite />
        </v-stepper-content>
        <v-stepper-content step="4" v-if="e1 == 4">
          <TreatmentList />
        </v-stepper-content>
        <v-stepper-content step="5" v-if="e1 == 5">
          <FollowUpAndInformation />
        </v-stepper-content>
        <v-stepper-content step="6" v-if="e1 == 6">
          <Others />
        </v-stepper-content>
      </v-stepper-items>
    </v-stepper>
  </div>
</template>

<script>
import constant from "../../constant.js";
import custom from "../../custom.js";
import PatientIdentification from "./PatientIdentification/PatientIdentification.vue";
import PrimarySiteAndStaging from "./PatientIdentification/PrimarySiteAndStaging.vue";
import SecondarySite from "./PatientIdentification/SecondarySite.vue";
import TreatmentList from "./PatientIdentification/TreatmentList.vue";
import FollowUpAndInformation from "./PatientIdentification/FollowUpInformation.vue";
import Others from "./PatientIdentification/Others.vue";
import { mapState } from "vuex";
export default {
  components: {
    PatientIdentification,
    PrimarySiteAndStaging,
    SecondarySite,
    TreatmentList,
    FollowUpAndInformation,
    Others
  },

  data() {
    return {
      snackbar: false,
      timeout: 4000,
      message: "",
      totalStep: 6,
      backButton: false,
      nextButton: true,
      hidePagination: true
    };
  },
  methods: {
    // savePage: function() {
    //   this.$store.commit("setStepOne", data);
    //   axios
    //     .post("/form" + "/step", { data: data })
    //     .then(response => {
    //       this.message = "Form has been submitted successfully";
    //       this.snackbar = true;
    //       setTimeout(function() {
    //         location.reload();
    //       }, this.timeout);
    //     })
    //     .catch(error => {
    //       console.log("Debug Message Error ", error);
    //       this.$store.commit("setLoading", false);
    //     });
    // },
    handleProvince(province) {
      this.currentDistrict = constant[province];
    },
    // reset() {
    //   // this.e1 = 1;this.e1
    //   this.$store.commit("sete1", 1);
    //   this.$store.commit("setPatientId", null);
    //   this.$store.commit("setStepOne", {});
    //   this.$store.commit("setStepTwo", {});
    //   this.$store.commit("setStepThree", {});
    //   this.$store.commit("setStepFour", {});
    //   this.$store.commit("setStepFive", {});
    //   this.$store.commit("setStepSix", {});
    //   this.backButton = false;
    //   this.nextButton = true;
    // },

    // next: function() {
    //   this.savePage();
    //   custom.scrollToTop();
    //   // this.nextButton = true;
    //   // this.backButton = true;
    //   // this.e1 = ++this.e1 % 7;

    //   // if (this.el == 0) {
    //   //   this.el = 1;
    //   //   this.backButton = false;
    //   // }
    //   // if (this.e1 == this.totalStep) {
    //   //   this.nextButton = false;
    //   // }
    // },
    // back: function() {
    //   custom.scrollToTop();
    //   this.nextButton = true;
    //   if (this.e1 !== 0) {
    //     this.backButton = true;
    //     this.e1--;
    //   }
    //   if (this.e1 == 1 || this.e1 == 0) {
    //     this.backButton = false;
    //   }
    // },
    //FollowUP
    saveFollowup: function() {
      this.saveAndContinueFollowUp();
      this.tableDialog = false;
    },
    saveAndContinueFollowUp: function() {
      if (
        this.table.follow_date.length != 0 &&
        this.table.follow_date.length != undefined
      ) {
        var tableLength =
          this.followup_items.length === 0 ? 1 : this.followup_items.length + 1;

        this.followup_items.push({
          follow_date: this.table.follow_date,
          status: this.table.status,
          treatment: this.table.treatment,
          available: this.table.available
        });
        this.table = {};
      }
    },
    //FollowUP

    saveSource: function() {
      this.saveAndContinueSource();
      if (!Object.values(this.tableSecond).includes("")) {
        this.tableSecondDialog = false;
      }
    },
    saveAndContinueSource: function() {
      if (!Object.values(this.tableSecond).includes("")) {
        this.source_items.push({
          clinical_information: this.tableSecond.clinical_information,
          demographic_information: this.tableSecond.demographic_information,
          diagnosis_information: this.tableSecond.diagnosis_information,
          file_no: this.tableSecond.file_no,
          follow_up_information: this.tableSecond.follow_up_information,
          name: this.tableSecond.name,
          source_date: this.tableSecond.source_date,
          type: this.tableSecond.type,
          specify_source_type: this.tableSecond.specify_source_type,

          sr_no: this.source_items.length + 1
        });
        this.tableSecond = {};
      }
    },

    savePatient: function() {
      this.step.Investigation.follow_table = this.followup_items;
      this.step.Source.source_of_info = this.source_items;

      this.$store.commit("setLoading", true);
      custom.scrollToTop();
      axios
        .post("/form", { data: data })
        .then(response => {
          this.message = "Form has been submitted successfully";
          this.snackbar = true;
          setTimeout(function() {
            location.reload();
          }, this.timeout);
        })
        .catch(error => {
          console.log("Debug Message Error ", error);
          this.$store.commit("setLoading", false);
        });
    }
  },
  computed: {
    ...mapState(["e1"]),
    getCertificateType: function() {
      if (this.step.PatientIdentification.certificate_type) {
        return this.step.PatientIdentification.certificate_type + " no";
      }
      return "";
    },
    getGpName: function() {
      if (this.step.Demographic.gp_mp) {
        return this.step.Demographic.gp_mp + " Name";
      }
      return "";
    },
    getShowData: function() {
      this.step.PatientIdentification.certificate_type_title = this.getCertificateType;

      this.step.Demographic.gp_mp_name_title = this.getGpName;
      // Table
      this.step.Investigation.secondary_site = this.secondary_site;
      this.step.Investigation.follow_table = this.followup_items;
      this.step.Investigation.follow_table_header = this.stepThreeHeaders;
      this.step.Source.source_of_info = this.source_items;
      this.step.Source.source_of_info_header = this.stepFourHeaders;

      return this.step;
    }
  }
};
</script>
