<template>
  <div>
    <v-toolbar flat color="white">
      <!-- <v-btn
        color="error"
        dark
        class="mb-2"
        v-if="selected.length > 1"
        @click="deleteSelected"
      >Delete Selected</v-btn>-->
      <v-btn color="primary" @click="setmye1()" dark>New Patient</v-btn>
      <v-dialog v-model="dialog" width="1100px">
        <v-card>
          <v-card-title class="headline grey lighten-2" primary-ttile>
            Patient Details
            <v-flex class="text-xs-right">
              <v-btn color="error" fab small dark @click="closeDialog()">
                <v-icon>close</v-icon>
              </v-btn>
            </v-flex>
          </v-card-title>
          <v-card-text>
            <v-tabs v-model="active" color="cyan" dark slider-color="yellow">
              <v-tab :key="1" ripple>Identification</v-tab>
              <v-tab-item :key="1">
                <v-container grid-list-md>
                  <v-layout row wrap>
                    <v-flex>
                      <label>
                        <b>Registration Number:</b>
                        {{displayItem.Patient.registration_no}}
                      </label>
                    </v-flex>
                  </v-layout>
                  <v-layout row wrap>
                    <v-flex>
                      <label>
                        <b>Citizenship Number/ Birth Certificate:</b>
                        {{displayItem.Patient.certificate_type}}
                      </label>
                    </v-flex>
                  </v-layout>
                  <v-layout row wrap>
                    <v-flex>
                      <label>
                        <b>{{displayItem.Patient.certificate_type}} Number:</b>
                        {{displayItem.Patient.certificate_no}}
                      </label>
                    </v-flex>
                    <v-flex>
                      <label>
                        <b>Date of Issue:</b>
                        {{displayItem.Patient.certificate_issue_date}}
                      </label>
                    </v-flex>
                    <v-flex>
                      <label>
                        <b>Place of Issue:</b>
                        {{displayItem.Patient.certificate_issue_place}}
                      </label>
                    </v-flex>
                  </v-layout>
                  <v-layout row wrap>
                    <v-flex>
                      <label>
                        <b>National Identity Number:</b>
                        {{displayItem.Patient.national_identity_no}}
                      </label>
                    </v-flex>
                  </v-layout>
                  <v-layout row wrap>
                    <v-flex>
                      <label>
                        <b>Name of the Patient:</b>
                        {{displayItem.Patient.patient_name}}
                      </label>
                    </v-flex>
                  </v-layout>
                  <v-layout row wrap>
                    <v-flex>
                      <label>
                        <b>Relative Name:</b>
                        {{displayItem.Patient.relative_name}}
                      </label>
                    </v-flex>
                    <v-flex>
                      <label>
                        <b>Relation with patient:</b>
                        {{displayItem.Patient.relation_with_patient}}
                      </label>
                    </v-flex>
                  </v-layout>
                  <v-layout row wrap>
                    <v-flex>
                      <label>
                        <b>Telephone Number:</b>
                        {{displayItem.Patient.phone_no}}, {{displayItem.Patient.alternative_phone_no}}
                      </label>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-tab-item>

              <v-tab :key="2" ripple>Socio-Demographic Information</v-tab>
              <v-tab-item :key="2">
                <v-container grid-list-md>
                  <v-layout row wrap>
                    <v-flex>
                      <label>
                        <b>Gender:</b>
                        {{displayItem.Demographic.gender}}
                      </label>
                    </v-flex>
                    <v-flex>
                      <label>
                        <b>Date of Birth:</b>
                        {{displayItem.Demographic.birth_date}}
                      </label>
                    </v-flex>
                    <v-flex>
                      <label>
                        <b>Completed years of age at diagnosis:</b>
                        {{displayItem.Demographic.completed_diagnosis_date}}
                      </label>
                    </v-flex>
                  </v-layout>
                  <v-layout row wrap>
                    <v-flex>
                      <label>
                        <b>Address:</b>
                      </label>
                      <ul>
                        <li>
                          <label>
                            <b>Province:</b>
                            {{displayItem.Demographic.province}}
                          </label>
                        </li>
                        <li>
                          <label>
                            <b>District:</b>
                            {{displayItem.Demographic.district}}
                          </label>
                        </li>
                        <li>
                          <label>
                            <b>GP/ MP:</b>
                            {{displayItem.Demographic.gp_mp}}
                          </label>
                        </li>
                        <li>
                          <label>
                            <b>{{displayItem.Demographic.gp_mp}} name:</b>
                            {{displayItem.Demographic.gp_mp_name}}
                          </label>
                        </li>
                        <li>
                          <label>
                            <b>Ward:</b>
                            {{displayItem.Demographic.ward}}
                          </label>
                        </li>
                        <li>
                          <label>
                            <b>Tole/ Village:</b>
                            {{displayItem.Demographic.village}}
                          </label>
                        </li>
                      </ul>
                    </v-flex>
                  </v-layout>
                  <v-layout row wrap>
                    <v-flex>
                      <label>
                        <b>Ward:</b>
                        {{displayItem.Demographic.ward}}
                      </label>
                    </v-flex>
                    <v-flex>
                      <label>
                        <b>Tole/ Village:</b>
                        {{displayItem.Demographic.village}}
                      </label>
                    </v-flex>
                  </v-layout>
                  <v-layout row wrap>
                    <v-flex>
                      <label>
                        <b>Length of Stay in Kathmandu Valley before the diagnosis of Cancer (in years):</b>
                        {{displayItem.Demographic.stay_no}}
                      </label>
                    </v-flex>
                  </v-layout>
                  <v-layout row wrap>
                    <v-flex>
                      <label>
                        <b>Marital status:</b>
                        {{displayItem.Demographic.martial_status}}
                      </label>
                    </v-flex>
                    <v-flex>
                      <label>
                        <b>Ethnic group:</b>
                        {{displayItem.Demographic.ethnic_group}}
                      </label>
                    </v-flex>
                  </v-layout>
                  <v-layout row wrap>
                    <v-flex>
                      <label>
                        <b>Religion of the patient:</b>
                        {{displayItem.Demographic.religion}}
                      </label>
                    </v-flex>
                    <v-flex>
                      <label>
                        <b>Education:</b>
                        {{displayItem.Demographic.education}}
                      </label>
                    </v-flex>
                  </v-layout>
                  <v-layout row wrap>
                    <v-flex>
                      <label>
                        <b>Occupation:</b>
                        {{displayItem.Demographic.occupation}}
                      </label>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-tab-item>

              <v-tab :key="3" ripple>The Tumor and its investigation</v-tab>
              <v-tab-item :key="3">
                <v-container grid-list-md>
                  <v-layout row wrap>
                    <v-flex>
                      <label>
                        <b>Clinical diagnosis:</b>
                        {{displayItem.Investigation.clinical_diagnosis}}
                      </label>
                    </v-flex>
                  </v-layout>
                  <v-layout row wrap>
                    <v-flex>
                      <label>
                        <b>Date of diagnosis:</b>
                        {{displayItem.Investigation.date_of_diagnosis}}
                      </label>
                    </v-flex>
                    <v-flex>
                      <label>
                        <b>Most valid Basis of diagnosis:</b>
                        {{displayItem.Investigation.basis_of_diagnosis}}
                      </label>
                    </v-flex>
                  </v-layout>
                  <v-layout row wrap>
                    <v-flex>
                      <label>
                        <b>Primary site:</b>
                        {{displayItem.Investigation.primary_site}}
                      </label>
                    </v-flex>
                    <v-flex>
                      <label>
                        <b>ICD-03 code:</b>
                        {{displayItem.Investigation.primary_site_code}}
                      </label>
                    </v-flex>
                  </v-layout>
                  <v-layout row wrap>
                    <v-flex>
                      <label>
                        <b>Literality of primary tumor:</b>
                        {{displayItem.Investigation.laterality}}
                      </label>
                    </v-flex>
                  </v-layout>
                  <v-layout row wrap>
                    <v-flex>
                      <label>
                        <b>Morphological Diagnosis of primary tumor:</b>
                        {{displayItem.Investigation.morphological_diagnosis}}
                      </label>
                    </v-flex>
                    <v-flex>
                      <label>
                        <b>ICD-03 code:</b>
                        {{displayItem.Investigation.morphological_diagnosis_code}}
                      </label>
                    </v-flex>
                  </v-layout>
                  <v-layout row wrap>
                    <v-flex>
                      <label>
                        <b>Behavior:</b>
                        {{displayItem.Investigation.behavior}}
                      </label>
                    </v-flex>
                    <v-flex>
                      <label>
                        <b>Grade:</b>
                        {{displayItem.Investigation.grade}}
                      </label>
                    </v-flex>
                  </v-layout>
                  <v-layout row wrap>
                    <v-flex>
                      <label>
                        <b>Extent of disease:</b>
                        {{displayItem.Investigation.extent_of_disease}}
                      </label>
                    </v-flex>
                  </v-layout>
                  <v-layout row wrap>
                    <v-flex>
                      <label>
                        <b>TNM Classification:</b>
                      </label>
                      <ul>
                        <li>
                          <label>
                            <b>Tumor:</b>
                            {{displayItem.Investigation.tnm_tumor}}
                          </label>
                        </li>
                        <li>
                          <label>
                            <b>Node:</b>
                            {{displayItem.Investigation.tnm_node}}
                          </label>
                        </li>
                        <li>
                          <label>
                            <b>Metasis:</b>
                            {{displayItem.Investigation.tnm_metasis}}
                          </label>
                        </li>
                      </ul>
                    </v-flex>
                  </v-layout>
                  <v-layout row wrap>
                    <v-flex>
                      <label>
                        <b>Stage (FIGO for Cervical Cancer):</b>
                        {{displayItem.Investigation.stages}}
                      </label>
                    </v-flex>
                  </v-layout>
                  <v-layout row wrap>
                    <v-flex>
                      <label>
                        <b>Treatment given:</b>
                        {{displayItem.Investigation.treatment}}
                      </label>
                    </v-flex>
                  </v-layout>
                  <v-layout row wrap>
                    <v-flex>
                      <label>
                        <b>Completion of treatment:</b>
                        {{displayItem.Investigation.treatment_completion}}
                      </label>
                    </v-flex>
                  </v-layout>
                  <v-layout row wrap>
                    <v-flex>
                      <label>
                        <b>Secondary site/ Metastatic site:</b>
                        {{displayItem.Investigation.secondary_site}}
                      </label>
                    </v-flex>
                  </v-layout>
                  <v-layout row wrap>
                    <v-flex>
                      <table class="custom">
                        <tr>
                          <td class="th-bold">Follow-up</td>
                          <td class="th-bold">Date of Follow-up</td>
                          <td class="th-bold">Alive</td>
                          <td class="th-bold">Dead</td>
                          <td class="th-bold">Emigrated</td>
                          <td class="th-bold">Not available/ Unknown</td>
                        </tr>
                        <tr v-for="followup_item in followup_items" v-bind:key="followup_item">
                          <td>{{followup_item.round}}</td>
                          <td>{{followup_item.follow_date}}</td>
                          <td>{{followup_item.alive}}</td>
                          <td>{{followup_item.dead}}</td>
                          <td>{{followup_item.emigrated}}</td>
                          <td>{{followup_item.available}}</td>
                        </tr>
                      </table>
                    </v-flex>
                  </v-layout>
                  <v-layout row wrap>
                    <v-flex>
                      <label>
                        <b>Date of death:</b>
                        {{displayItem.Investigation.date_of_death}}
                      </label>
                    </v-flex>
                    <v-flex>
                      <label>
                        <b>Cause of death:</b>
                        {{displayItem.Investigation.cause_of_death}}
                      </label>
                    </v-flex>
                    <v-flex>
                      <label>
                        <b>Place of death:</b>
                        {{displayItem.Investigation.place_of_death}}
                      </label>
                    </v-flex>
                  </v-layout>
                  <v-layout row wrap>
                    <v-flex>
                      <label>
                        <b>Multiple Primary Tumors:</b>
                        {{displayItem.Investigation.multiple_primary_tumors}}
                      </label>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-tab-item>

              <v-tab :key="4" ripple>Source of Information</v-tab>
              <v-tab-item :key="4">
                <v-container grid-list-md>
                  <v-layout row wrap>
                    <v-flex>
                      <table class="custom">
                        <tr>
                          <td class="th-bold">Date</td>
                          <td
                            class="th-bold"
                          >Type of Source (Hospital, Laboratory, Hospice, Death Certificate alone, Other(specify))</td>
                          <td class="th-bold">Name of the Source</td>
                          <td class="th-bold">File Number</td>
                          <td class="th-bold">Demographic Information Yes/ No</td>
                          <td class="th-bold">Information of Diagnosis Yes/ No</td>
                          <td class="th-bold">Clinical Information Yes/ No</td>
                          <td class="th-bold">Information on Follow-up Yes/ No</td>
                        </tr>
                        <tr v-for="source_item in source_items" v-bind:key="source_item">
                          <td>{{source_item.source_date}}</td>
                          <td>{{source_item.type}}</td>
                          <td>{{source_item.name}}</td>
                          <td>{{source_item.file_no}}</td>
                          <td>{{source_item.demographic_information}}</td>
                          <td>{{source_item.diagnosis_information}}</td>
                          <td>{{source_item.clinical_information}}</td>
                          <td>{{source_item.follow_up_information}}</td>
                        </tr>
                      </table>
                    </v-flex>
                  </v-layout>
                  <v-layout row wrap>
                    <v-flex>
                      <label>
                        <b>Date of data collection:</b>
                        {{displayItem.Patient.collected_date}}
                      </label>
                    </v-flex>
                  </v-layout>
                  <v-layout row wrap>
                    <v-flex>
                      <label>
                        <b>Collected by:</b>
                        {{displayItem.Patient.collected_by}}
                      </label>
                    </v-flex>
                    <v-flex>
                      <label>
                        <b>Approved by:</b>
                        {{displayItem.Patient.approved_by}}
                      </label>
                    </v-flex>
                  </v-layout>
                  <v-layout row wrap>
                    <v-flex>
                      <label>
                        <b>Remarks from Data Collector:</b>
                        {{displayItem.Patient.remarks}}
                      </label>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-tab-item>
            </v-tabs>

            <div class="text-xs-center mt-3">
              <v-btn @click="next">next tab</v-btn>
            </div>
          </v-card-text>
        </v-card>
      </v-dialog>

      <v-spacer></v-spacer>

      <v-text-field v-model="search" append-icon="search" label="Search" single-line hide-details></v-text-field>
    </v-toolbar>

    <v-data-table :headers="headers" :items="patients" :search="search">
      <!-- <v-data-table :headers="headers" :items="patients" select-all v-model="selected"> -->
      <template v-slot:items="props">
        <!-- <td>
          <v-checkbox primary v-model="props.selected" hide-details></v-checkbox>
        </td>-->
        <td>
          <b>{{ props.index +1}}</b>
        </td>
        <td>
          <b>{{ props.item.registration_no }}</b>
        </td>
        <td>
          <b>{{ props.item.patient_first_name}} {{ props.item.patient_middle_name}} {{ props.item.patient_last_name}}</b>
        </td>
        <td>
          <b>{{ props.item.gender}}</b>
        </td>
        <td>
          <b>{{ props.item.phone_no}}</b>
        </td>
        <td>
          <!-- <v-menu>
            <v-btn slot="activator" icon>
              <v-icon>more_vert</v-icon>
            </v-btn>

            <v-list>
              <v-list-tile @click="viewItem(props.item)">
                <v-list-tile-title>View</v-list-tile-title>
              </v-list-tile>
              <v-list-tile @click="editItem(props.item)">
                <v-list-tile-title>Edit</v-list-tile-title>
              </v-list-tile>
              <v-list-tile @click="deleteItem(props.item)">
                <v-list-tile-title>Delete</v-list-tile-title>
              </v-list-tile>
              <v-list-tile @click="printItem(props.item)">
                <v-list-tile-title>Print</v-list-tile-title>
              </v-list-tile>
            </v-list>
          </v-menu>-->
          <v-icon small class="mr-2" @click="editItem(props.item)">edit</v-icon>
          <v-icon small @click="deleteItem(props.item)">delete</v-icon>
        </td>
      </template>
      <v-alert
        slot="no-results"
        :value="true"
        color="error"
        icon="warning"
      >Your search for "{{ search }}" found no results.</v-alert>
    </v-data-table>
    <!-- Pagination Start -->
    <!-- <div class="text-xs-center pt-2">
      <v-pagination
        v-model="patientPagination.current"
        :length="patientPagination.total"
        @input="onPageChange"
        v-show="patients.length > 1"
      ></v-pagination>
    </div>-->
    <!-- Pagination End -->
  </div>
</template>

<script>
import custom from "../../custom.js";
export default {
  data() {
    return {
      updated: false,
      dialog: false,
      selected: [],
      active: null,
      displayItem: {
        Patient: "",
        Demographic: "",
        Investigation: "",
        Followup: [],
        Source: []
      },
      patientPagination: {
        current: 1,
        total: 15,
        rowsPerPage: 20,
        sortBy: "id",
        descending: true
      },
      url: "patient",
      search: "",
      headers: [
        {
          text: "S.N",
          align: "left",
          sortable: false,
          value: "Reg. no"
        },
        {
          text: "Reg. No",
          value: "registration_no"
        },
        {
          text: "Patient",
          value: "patient_first_name"
        },
        {
          text: "Gender",

          value: "gender"
        },
        { text: "Contact No", value: "phone_no", sortable: false },
        { text: "Action", sortable: false }
      ],
      followup_headers: [
        {
          text: "Follow up",
          align: "left",
          sortable: false,
          value: "round"
        },
        { text: "Date of Follow-up", value: "follow_date", sortable: false },
        { text: "Alive", value: "alive", sortable: false },
        { text: "Dead", value: "dead", sortable: false },
        { text: "Emigrated", value: "emigrated", sortable: false },
        { text: "Not available/ Unknown", value: "available", sortable: false }
      ],
      source_headers: [
        {
          text: "Date",
          align: "left",
          sortable: false,
          value: "source_date"
        },
        {
          text:
            "Type of Source(Hospital Laboratory, Hospice, Death Certificate alone, Other(specify))",
          value: "type",
          sortable: false
        },
        { text: "Name of the source", value: "name", sortable: false },
        { text: "File number", value: "file_no", sortable: false },
        {
          text: "Demographic Information Yes/No",
          value: "demographic_information",
          sortable: false
        },
        {
          text: "Information of Diagnosis Yes/No",
          value: "diagnosis_information",
          sortable: false
        },
        {
          text: "Clinical Information on Yes/No",
          value: "clinical_information",
          sortable: false
        },
        {
          text: "Information of Follow-up Yes/No",
          value: "follow_up_information",
          sortable: false
        }
      ],
      patients: [],
      followup_items: [],
      source_items: []
    };
  },

  mounted() {
    this.readPatient();
  },

  methods: {
    setmye1() {
      this.e1 = 1;
      this.$store.commit("sete1", 1);
      this.$store.commit("setPatientId", null);
      this.$store.commit("setStepOne", {});
      this.$store.commit("setStepTwo", {});
      this.$store.commit("setStepThree", {});
      this.$store.commit("setStepFour", {});
      this.$store.commit("setStepFive", {});
      this.$store.commit("setStepSix", {});
      this.$router.push("patient-register");
    },
    searchPatient() {
      custom.scrollToTop();
      this.$store.commit("setLoading", true);
      axios
        .get(
          this.url +
            "/search-patients/" +
            this.search +
            "?page=" +
            this.patientPagination.current
        )
        .then(response => {
          if (response.data) {
            this.patients = response.data.data;
            this.patientPagination.current = response.data.current_page;
            this.patientPagination.total = response.data.last_page;
            this.$store.commit("setLoading", false);
          }
        })
        .catch(err => {
          console.log(err);
          this.$store.commit("setLoading", false);
        });
    },

    viewItem() {
      this.dialog = true;
    },

    printItem(item) {
      if (item.id) {
        window.open("/export-pdf/" + item.id);
      }
    },

    readPatient() {
      custom.scrollToTop();
      this.$store.commit("setLoading", true);
      if (this.updated) {
        this.$store.commit("setLoading", false);
        return this.patients;
      }

      axios
        .get("/patient")
        // .get(this.url + "?page=" + this.patientPagination.current)
        .then(response => {
          if (response.data) {
            console.log("All Patient", response.data);
            this.patients = response.data;
            // this.patientPagination.current = response.data.current_page;
            // this.patientPagination.total = response.data.last_page;
            this.$store.commit("setLoading", false);
          }
        })
        .catch(err => {
          console.log(err);
          this.$store.commit("setLoading", false);
        });
    },

    closeDialog() {
      this.dialog = false;
    },

    viewItem(item) {
      this.$store.commit("setLoading", true);
      axios
        .get(this.url + "/" + item.id)
        .then(response => {
          this.displayItem = response.data;
          this.followup_items = this.displayItem.Followup;
          this.source_items = this.displayItem.Source;
          this.$store.commit("setLoading", false);
          this.dialog = true;
        })
        .catch(error => {
          console.log(errors);
          this.$store.commit("setLoading", false);
        });
    },

    deleteItem(item) {
      const index = this.patients.indexOf(item);
      if (
        confirm("Are you sure you want to delete this item?") &&
        this.patients.splice(index, 1)
      ) {
        this.$store.commit("setLoading", true);
        axios
          .delete("patient/" + item.id)
          .then(response => {
            console.log("Response", response);
            this.$store.commit("setLoading", false);
          })
          .catch(error => {
            console.log(errors);
            this.$store.commit("setLoading", false);
          });
      }
    },

    deleteSelected() {
      if (confirm("Are you sure you want to delete this item?")) {
        this.$store.commit("setLoading", true);
        var deleteId = this.selected.map((data, index) => {
          return data.id;
        });
        axios
          .post(this.url + "/delete-requests", { id: deleteId })
          .then(response => {
            var undeletedArray = this.patients.filter(function(data) {
              if (deleteId.includes(data.id)) {
                return false;
              }
              return true;
            });
            this.selected = [];
            this.patients = undeletedArray;
            this.updated = true;
            this.readPatient();
          })
          .catch(error => {
            console.log("Bulk delete", error);
            this.$store.commit("setLoading", false);
          });
      } else {
        this.selected = [];
        this.$store.commit("setLoading", false);
      }
    },

    next() {
      const active = parseInt(this.active);
      this.active = active < 3 ? active + 1 : 0;
    },

    onPageChange() {
      this.readPatient();
    },

    editItem(item) {
      this.$store.commit("setLoading", true);
      this.$store.commit("setPatientId", item.id);
      console.log("Item", item);
      axios
        .get("patient/" + item.id)
        .then(response => {
          console.log("Response", response);
          this.$store.commit("sete1", 1);
          this.$router.push("patient-register");
          this.$store.commit("setStepOne", response.data);

          this.$store.commit("setLoading", false);

          console.log("WORKS ", this.$store.state);

          // this.$router.push("patient-register");
        })
        .catch(error => {
          console.log(errors);
          this.$store.commit("setLoading", false);
        });
    }
  },

  watch: {
    dialog(val) {
      val || this.close();
    }
  }
};
</script>