<template>
	<v-dialog v-model="dialog" lazy fullscreen hide-overlay transition="dialog-bottom-transition">
		<v-btn slot="activator" color="success"  dark>Preview</v-btn>
		<!-- Snackbar -->
		<v-snackbar
        v-model="snackbar"
        multi-line
        right
        :timeout="timeout"
        color="light-green darken-3"
        top
      >
        {{ items.Patient.registration_no }} - {{ items.Patient.patient_name }} has been registered  
    </v-snackbar>
		<!-- /Snackbar -->

		<v-card>
			<v-toolbar dark color="primary">
				<v-btn icon dark @click="dialog = false">
					<v-icon>close</v-icon>
				</v-btn>
				<v-toolbar-title>Patient Details</v-toolbar-title>
				<v-spacer></v-spacer>
				<v-toolbar-items>
					<v-btn dark flat @click="saveone()">Save</v-btn>
				</v-toolbar-items>
			</v-toolbar>

			<v-container>
			  <v-tabs color="cyan" dark slider-color="yellow">
              <v-tab :key="1" ripple>Identification</v-tab>
              <v-tab-item :key="1">
                <v-container grid-list-md>
                  <v-layout row wrap>
                    <v-flex>
                      <label><b>Registration Number:</b> {{items.Patient.registration_no}}</label>
                    </v-flex>
                  </v-layout>
                  <v-layout row wrap>
                    <v-flex>
                      <label><b>Citizenship Number/ Birth Certificate:</b> {{items.Patient.certificate_type}}</label>
                    </v-flex>
                  </v-layout>
                  <v-layout row wrap>
                    <v-flex>
                      <label><b>{{items.Patient.certificate_type}}:</b> {{items.Patient.certificate_no}}</label>
                    </v-flex>
                    <v-flex>
                      <label><b>Date of Issue:</b> {{items.Patient.certificate_issue_date}}</label>
                    </v-flex>
                    <v-flex>
                      <label><b>Place of Issue:</b> {{items.Patient.certificate_issue_place}}</label>
                    </v-flex>
                  </v-layout>
                  <v-layout row wrap>
                    <v-flex>
                      <label><b>National Identity Number:</b> {{items.Patient.national_identity_no}}</label>
                    </v-flex>
                  </v-layout>
                  <v-layout row wrap>
                    <v-flex>
                      <label><b>Name of the Patient:</b> {{items.Patient.patient_name}}</label>
                    </v-flex>
                  </v-layout>
                  <v-layout row wrap>
                    <v-flex>
                      <label><b>Relative Name:</b> {{items.Patient.relative_name}}</label>
                    </v-flex>
                    <v-flex>
                      <label><b>Relation with Patient:</b> {{items.Patient.relation_with_patient}}</label>
                    </v-flex>
                  </v-layout>
                  <v-layout row wrap>
                    <v-flex>
                      <label><b>Telephone Number:</b> {{items.Patient.phone_no}} , {{items.Patient.alternative_phone_no}}</label>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-tab-item>

              <v-tab :key="2" ripple>Socio-Demographic Information</v-tab>
              <v-tab-item :key="2">
                <v-container grid-list-md>
                  <v-layout row wrap>
                    <v-flex>
                      <label><b>Gender:</b> {{items.Demographic.gender}}</label>
                    </v-flex>
                    <v-flex>
                      <label><b>Date of Birth:</b> {{items.Demographic.birth_date}}</label>
                    </v-flex>
                    <v-flex>
                      <label><b>Completed years of age at diagnosis:</b> {{items.Demographic.completed_diagnosis_date}}</label>
                    </v-flex>
                  </v-layout>
                  <v-layout row wrap>
                    <v-flex>
                      <label><b>Address:</b></label>
                      <ul>
                        <li><label><b>Province:</b> {{items.Demographic.province}}</label></li>
                        <li><label><b>District:</b> {{items.Demographic.district}}</label></li>
                        <li><label><b>GP/ MP:</b> {{items.Demographic.gp_mp}}</label></li>
                        <li><label><b>{{items.Demographic.gp_mp}} name:</b> {{items.Demographic.gp_mp_name}}</label></li>
                        <li><label><b>Ward:</b> {{items.Demographic.ward}}</label></li>
                        <li><label><b>Tole/ Village:</b> {{items.Demographic.village}}</label></li>
                      </ul>
                    </v-flex>
                  </v-layout>
                  <v-layout row wrap>
                    <v-flex>
                      <label><b>Length of Stay in Kathmandu Valley before the diagnosis of Cancer (in years):</b> {{items.Demographic.stay_no}}</label>
                    </v-flex>
                  </v-layout>
                  <v-layout row wrap>
                    <v-flex>
                      <label><b>Marital status:</b> {{items.Demographic.marital_status}}</label>
                    </v-flex>
                    <v-flex>
                      <label><b>Ethnic group:</b> {{items.Demographic.ethnic_group}}</label>
                    </v-flex>
                  </v-layout>
                  <v-layout row wrap>
                    <v-flex>
                      <label><b>Religion of the Patient:</b> {{items.Demographic.religion}}</label>
                    </v-flex>
                    <v-flex>
                      <label><b>Education:</b> {{items.Demographic.education}}</label>
                    </v-flex>
                  </v-layout>
                  <v-layout row wrap>
                    <v-flex>
                      <label><b>Occupation:</b> {{items.Demographic.occupation}}</label>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-tab-item>

              <v-tab :key="3" ripple>The Tumor and its investigation</v-tab>
              <v-tab-item :key="3">
                <v-container grid-list-md>
                  <v-layout row wrap>
                    <v-flex>
                      <label><b>Clinical diagnosis:</b> {{items.Investigation.clinical_diagnosis}}</label>
                    </v-flex>
                  </v-layout>
                  <v-layout row wrap>
                    <v-flex>
                      <label><b>Date of diagnosis:</b> {{items.Investigation.date_of_diagnosis}}</label>
                    </v-flex>
                    <v-flex>
                      <label><b>Most valid Basis of diagnosis:</b> {{items.Investigation.basis_of_diagnosis}}</label>
                    </v-flex>
                  </v-layout>
                  <v-layout row wrap>
                    <v-flex>
                      <label><b>Primary site:</b> {{items.Investigation.primary_site}}</label>
                    </v-flex>
                    <v-flex>
                      <label><b>ICD-03 code:</b> {{items.Investigation.primary_site_code}}</label>
                    </v-flex>
                  </v-layout>
                  <v-layout row wrap>
                    <v-flex>
                      <label><b>Literality of primary tumor:</b> {{items.Investigation.literality}}</label>
                    </v-flex>
                  </v-layout>
                  <v-layout row wrap>
                    <v-flex>
                      <label><b>Morphological Diagnosis of primary tumor:</b> {{items.Investigation.morphological_diagnosis}}</label>
                    </v-flex>
                    <v-flex>
                      <label><b>ICD-03 code:</b> {{items.Investigation.morphological_diagnosis_code}}</label>
                    </v-flex>
                  </v-layout>
                  <v-layout row wrap>
                    <v-flex>
                      <label><b>Behavior:</b> {{items.Investigation.behavior}}</label>
                    </v-flex>
                    <v-flex>
                      <label><b>Grade:</b> {{items.Investigation.grade}}</label>
                    </v-flex>
                  </v-layout>
                  <v-layout row wrap>
                    <v-flex>
                      <label><b>Extent of disease:</b> {{items.Investigation.extent_of_disease}}</label>
                    </v-flex>
                  </v-layout>
                  <v-layout row wrap>
                    <v-flex>
                      <label><b>TNM Classification:</b></label>
                      <ul>
                        <li><label><b>Tumor:</b> {{items.Investigation.tnm_tumor}}</label></li>
                        <li><label><b>Node:</b> {{items.Investigation.tnm_node}}</label></li>
                        <li><label><b>Metasis:</b> {{items.Investigation.tnm_metasis}}</label></li>
                      </ul>
                    </v-flex>
                  </v-layout>
                  <v-layout row wrap>
                    <v-flex>
                      <label><b>Stage (FIGO for Cervical Cancer):</b> {{items.Investigation.stages}}</label>
                    </v-flex>
                  </v-layout>
                    <v-layout row wrap>
                    <v-flex>
                      <label><b>Treatment given:</b> {{items.Investigation.treatment}}</label>
                    </v-flex>
                    </v-layout>
                    <v-layout row wrap>
                    <v-flex>
                      <label><b>Completion of treatment:</b> {{items.Investigation.treatment_completion}}</label>
                    </v-flex>
                    </v-layout>
                    <v-layout row wrap>
                    <v-flex>
                      <label><b>Secondary site/ Metastatic site:</b> {{items.Investigation.secondary_site}}</label>
                    </v-flex>
                    </v-layout>
										<v-layout row wrap>
											<v-flex>
												<table class="custom">
													<tr>
														<td class="th-bold">Follow-up</td>
														<td class="th-bold">Date of Follow-up</td>
														<td class="th-bold">Alive</td>
														<td class="th-bold">Dead</td>
														<td class="th-bold">Emigrated</td>
														<td class="th-bold">Not available/ Unknown</td>
													</tr>
													<tr v-for="row in items.Investigation.follow_table" v-bind:key="row">
														<td v-for="(value) in row" v-bind:key="value">
															{{ value }} 
														</td>
													</tr>
												</table>
											</v-flex>
										</v-layout>
                     
                    <v-layout row wrap>
                    <v-flex>
                      <label><b>Date of death:</b> {{items.Investigation.date_of_death}}</label>
                    </v-flex>
                    <v-flex>
                      <label><b>Cause of death:</b> {{items.Investigation.cause_of_death}}</label>
                    </v-flex>
                    <v-flex>
                      <label><b>Place of death:</b> {{items.Investigation.place_of_death}}</label>
                    </v-flex>
                    </v-layout>
                    <v-layout row wrap>
                    <v-flex>
                      <label><b>Multiple Primary Tumors:</b> {{items.Investigation.multiple_primary_tumors}}</label>
                    </v-flex>
                    
                  </v-layout>
                </v-container>
              </v-tab-item>

              <v-tab :key="4" ripple>Source of Information</v-tab>
              <v-tab-item :key="4">
                <v-container grid-list-md>
                  <v-layout row wrap>
                    <v-flex>
                      <table class="custom">
												<tr>
													<td class="th-bold">Date</td>
													<td class="th-bold">Type of Source (Hospital, Laboratory, Hospice, Death Certificate alone, Other(specify))</td>
													<td class="th-bold">Name of the Source</td>
													<td class="th-bold">File Number</td>
													<td class="th-bold">Demographic Information Yes/ No</td>
													<td class="th-bold">Information of Diagnosis Yes/ No</td>
													<td class="th-bold">Clinical Information Yes/ No</td>
													<td class="th-bold">Information on Follow-up Yes/ No</td>
												</tr>
												<tr v-for="row in items.Source.source_of_info" v-bind:key="row">
														<td v-for="(value) in row" v-bind:key="value">
															{{ value }} 
														</td>
													</tr>
											</table>
                    </v-flex>
                     </v-layout>
                  <v-layout row wrap>
                    <v-flex>
                      <label><b>Date of data collection:</b> {{items.Source.collected_date}}</label>
                    </v-flex>
                  </v-layout>
                  <v-layout row wrap>
                    <v-flex>
                      <label><b>Collected by:</b> {{items.Source.collected_by}}</label>
                    </v-flex>
                    <v-flex>
                      <label><b>Approved by:</b> {{items.Source.approved_by}}</label>
                    </v-flex>
                  </v-layout>
                  <v-layout row wrap>
                    <v-flex>
                      <label><b>Remarks from Data Collector:</b> {{items.Source.remarks}}</label>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-tab-item>
            </v-tabs>
		</v-container>
	</v-card>
</v-dialog>
</template>

<script>
export default {
	props: ['data'],
	data () {
		return {
			snackbar : false,
			timeout: 4000,
			message: '',
			tab: null,
			dialog: false,
			notifications: false,
			sound: true,
			widgets: false,
			hidePagination: true,
			errorClass: 'red--text text--lighten-1',
		}
	},
	computed: {
		items: function () {
			return this.data;
		},
	},
	methods:{
		keyExists: function(key,object){
			if(object !== undefined){
				return Object.keys(object).includes(key);
			}
			return false;
		},
		hasError: function(arrayKey) {
			if(arrayKey.includes('.'))
			{
				let arr = arrayKey.split('.');

				if (this.items[arr[0]][arr[1]] !== undefined && this.items[arr[0]][arr[1]] !== '') {
					return '';
				}
				return this.errorClass;	
			}else{
				if(this.keyExists(arrayKey,this.items))
				{
					if (this.items.arrayKey !== undefined) {
						return '';
					}
					return this.errorClass;	
				}
				return this.errorClass;	
			}
		},
		saveone: function() {
      var data = {
              follow_table : this.items.Investigation.follow_table,
              source_of_info : this.items.Source.source_of_info,
              registration_no  : this.items.Patient.registration_no,
              national_identity_no  : this.items.Patient.national_identity_no,
              certificate_no  : this.items.Patient.certificate_no,
              certificate_type  : this.items.Patient.certificate_type,
              certificate_issue_date : this.items.Patient.certificate_issue_date,
              certificate_issue_place  : this.items.Patient.certificate_issue_place,
              patient_name : this.items.Patient.patient_name,
              relative_name : this.items.Patient.relative_name,
              relation_with_patient : this.items.Patient.relation_with_patient,
              phone_no  : this.items.Patient.phone_no,
              alternative_phone_no  : this.items.Patient.alternative_phone_no,
              gender: this.items.Demographic.gender,
              birth_date: this.items.Demographic.birth_date,
              completed_diagnosis_date: this.items.Demographic.completed_diagnosis_date,
              province: this.items.Demographic.province,
              district: this.items.Demographic.district,
              ward: this.items.Demographic.ward,
              gp_mp_name: this.items.Demographic.gp_mp_name,
              village: this.items.Demographic.village,
              gp_mp: this.items.Demographic.gp_mp,
              stay_no: this.items.Demographic.stay_no,
              religion: this.items.Demographic.religion,
              marital_status: this.items.Demographic.marital_status,
              ethnic_group: this.items.Demographic.ethnic_group,
              education: this.items.Demographic.education,
              occupation: this.items.Demographic.occupation,
              clinical_diagnosis  : this.items.Investigation.clinical_diagnosis,
              date_of_diagnosis : this.items.Investigation.date_of_diagnosis,
              basis_of_diagnosis  : this.items.Investigation.selected,
              primary_site  : this.items.Investigation.primary_site,
              primary_site_code  : this.items.Investigation.primary_site_code,
              literality : this.items.Investigation.literality,
              morphological_diagnosis : this.items.Investigation.morphological_diagnosis,
              morphological_diagnosis_code  : this.items.Investigation.morphological_diagnosis_code,
              behavior : this.items.Investigation.behavior,
              grade : this.items.Investigation.grade,
              extent_of_disease : this.items.Investigation.extent_of_disease,
              tnm_tumor : this.items.Investigation.tnm_tumor,
              tnm_node  : this.items.Investigation.tnm_node,
              tnm_metasis : this.items.Investigation.tnm_metasis,
              stages  : this.items.Investigation.stages,
              treatment_completion : this.items.Investigation.treatment_completion,
              date_of_death : this.items.Investigation.date_of_death,
              cause_of_death  : this.items.Investigation.cause_of_death,
              place_of_death  : this.items.Investigation.place_of_death,
              multiple_primary_tumors : this.items.Investigation.multiple_primary_tumors,
              collected_date   :   this.items.Source.collected_date,
              collected_by    :   this.items.Source.collected_by,
              approved_by   :   this.items.Source.approved_by,
              remarks   :   this.items.Source.remarks,
              treatment: this.items.Investigation.treatment,
              secondary_site : this.items.Investigation.secondary_site,
          };
          debugger;
	      axios.post('/form',{data: data })
	        .then(response => {
	          this.message = "Form has been submitted successfully";
	          this.snackbar = true;
	          console.log("Debug Message Response ",response);
	          
	          setTimeout(function() {
	            location.reload();
	          }, this.timeout);
	        })
	        .catch(error => {
	          console.log("Debug Message Error ",error);
	        });
	    }

	}

};
</script>
