<template>
    <v-navigation-drawer :clipped="clipped" v-model="sidebarState" v-on:input="toggleSidebar($event)" enable-resize-watcher app>
          
        <v-divider></v-divider>

        <v-list>
            <v-list-tile
            v-for="item in menuItems"
            :key="item.title"
            router
            :to="item.path"
            >
                <v-list-tile-action>
                    <v-icon v-text="item.action"></v-icon>
                </v-list-tile-action>
                <v-list-tile-title v-text="item.title"></v-list-tile-title>
            </v-list-tile>

        </v-list>
    </v-navigation-drawer> 
</template>
 
 
<script>
    export default {
        data () {
            return {
                clipped: true,
                sidebarState: true,
                // Menus
                menuItems: [
                // {
                //     action: 'dashboard',
                //     title: 'Dashboard',
                //     path: '/admin/',
                //     items: [],
                // },
                {
                    action: 'list',
                    title: 'Patient',
                    path: '/admin/patient',
                    items: []
                },
                {
                    action: 'slideshow',
                    title: 'Register',
                    path: '/admin/patient-register',
                    items: []
                }, 
                // {
                //     action: 'people',
                //     title: 'Users',
                //     path: '/admin/users',
                //     items: []
                // }, 
                ]
            }
        },
        methods: {
            toggleSidebar: function(value){
                if (typeof(value) != undefined) {
                    this.sidebarState = value;
                    this.$store.dispatch('updateSidebar', value);
                }
                
                return this.sidebarState;
            },
        },
        computed:{
            user() {
                return this.$store.state.user;
            },
            app() {
                return this.$store.state.app;
            },
            sidebar: function() {
                return this.$store.state.sidebar;
            }
        },
        watch: {
            sidebarState: function() {
                this.toggleSidebar(this.sidebarState);
            },
            sidebar: function(value){
                this.sidebarState = value;
            }
        }
    }
</script>