<template>
    <v-toolbar
        fixed
        app
        dark
        class="primary"
        :clipped-left="clipped">
        <v-toolbar-side-icon @click.stop="toggleSidebar()"
    >
    </v-toolbar-side-icon>
            <img width="220" src="http://www.ncrs.org.np/source/images/resource/logo-ncrs.png">
        <!-- <v-toolbar-title>
            <span v-html="getAppData('name')"></span>
        </v-toolbar-title> -->
        <v-spacer></v-spacer>
        <!-- <v-btn icon>
            <v-icon>search</v-icon>
        </v-btn> -->
        
        <v-menu :nudge-bottom="10" offset-x transition="slide-y-transition">
            <v-toolbar-title slot="activator">
                <span v-if="getUserData('name')" v-html="getUserData('name')"></span>
                <v-icon dark>arrow_drop_down</v-icon>
            </v-toolbar-title>

            <v-list>
                <v-dialog v-model="dialog" width="500" >
                    <v-btn slot="activator" color="lighten-2" dark>
                    Change Password
                    </v-btn>
                    <v-card>
                        <v-card-title class="headline grey lighten-2" primary-title>
                        Change Password
                        </v-card-title>
                        <v-alert :value="customError" type="error" outline>
                            <span class="d-block" v-html="customError"></span>
                        </v-alert>
                        <v-card-text>
                            <v-text-field
                                v-validate="'required'"
                                :error-messages="errors.collect('password')"
                                data-vv-name="password"
                                v-model="password"
                                label="Current Password"
                                type="password"
                                @keyup.enter="changePassword"
                                autofocus
                                required
                                ></v-text-field>
                            <v-text-field
                                v-validate="'required'"
                                :error-messages="errors.collect('newPassword')"
                                data-vv-name="newPassword"
                                v-model="newPassword"
                                label="New Password"
                                type="password"
                                @keyup.enter="changePassword"
                                autofocus
                                required
                                ref="newPassword"
                                ></v-text-field>
                            <v-text-field
                                v-validate="'required|confirmed:newPassword'"
                                :error-messages="errors.collect('reNewPassword')"
                                data-vv-name="reNewPassword"
                                v-model="reNewPassword"
                                label="Re New Password"
                                type="password"
                                @keyup.enter="changePassword"
                                autofocus
                                required
                                ></v-text-field>
                        </v-card-text>

                        <v-divider></v-divider>

                        <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="primary" flat @click="changePassword()" >
                            Change Password
                        </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
                <v-list-tile @click="logout">
                    <v-list-tile-title> Logout</v-list-tile-title>
                </v-list-tile>
            </v-list>
      </v-menu>

    </v-toolbar>  
</template>

<script>
import Vue from 'vue'
import VeeValidate from 'vee-validate'

Vue.use(VeeValidate)
export default {
    $_veeValidate: {
      validator: 'new'
    },

    props: ['appData','userData'],
    data() {    
        return {
            customError: '',
            clipped: true,
            dialog: false,
            password: '',
            newPassword: '',
            reNewPassword: '',
            dictionary: {
                custom: {
                    password: {
                        required: () => 'Current can not be empty'
                    },
                    newPassword: {
                        required: () => 'New Password can not be empty',
                    },
                    reNewPassword: {
                        required: () => 'Re New Password can not be empty',
                    },
                }
            }
        }
    },
    methods: {
       getUserData(name){
            let data = JSON.parse(this.userData);
            if (data) {
                if(data.name){
                    return data.name;
                }
                return '';
            }
            return '';
        },
        getAppData(name){
            let app = JSON.parse(this.appData);
            if (app) {
                if(app[name]){
                    return app[name];
                }
                return '';
            }
            return '';
        },
        logout() { 
            axios.get('logout')
                .then((response) => {
                    window.location = '/admin/';
                })
                .catch((error) => {
                    console.log("Error", error);
                });
        },
        toggleSidebar() {
            this.$store.dispatch('updateSidebar', !this.sidebar);
        },
        changePassword() {
            console.log("errror");
            this.$validator.validateAll()
            .then((res) => {
                console.log("Res", res)
                if (res && this.newPassword == this.reNewPassword && this.password.length != 0) {
                    axios.post('/user/change-password', {password: this.password, new_password: this.newPassword})
                        .then(response => {
                            this.password = '';
                            this.newPassword = '';
                            this.reNewPassword = '';
                            this.logout();
                        })
                        .catch(error => {
                            console.log(error);
                            this.customError = "Current password is incorrect. Please try again."
                        });
                }else{
                    this.customError = "New Password and Re new password does not match."
                }
            });
        }
    },
    computed: {
        sidebar: function() {
            return this.$store.state.sidebar;
        },
        title: function() {
            return this.$store.state.title;
        }
    },
    watch: {
        reNewPassword: function() {
            if (this.newPassword === this.reNewPassword) {
                this.customError = '';
            }
        }
    }
}
</script>
