<template>
  <div>
    <v-toolbar flat color="white">
	<v-btn  color="primary" dark class="mb-2">Add New User</v-btn>
	<v-spacer></v-spacer>
      <v-text-field v-model="search" append-icon="search" label="Search" single-line hide-details></v-text-field>
    </v-toolbar>

    <v-data-table :headers="headers" :items="users" :search="search">
      <template slot="items" slot-scope="props">
        <td>
          <b>{{ props.item.name }}</b>
        </td>
        <td>
          <b>{{ props.item.username }}</b>
        </td>
        <td>
          <b>{{ props.item.email }}</b>
        </td>
        <td>
          <b>{{ props.item.email_verified_at }}</b>
        </td>
        <td class="justify=center layout px-0">
          <v-btn icon class="mx-0" @click="viewItem(props.item)">
            <v-icon color="teal">edit</v-icon>
          </v-btn>
          <v-btn icon class="mx-0" @click="printItem(props.item)">
            <v-icon color="pink">print</v-icon>
          </v-btn>
        </td>
      </template>
      <v-alert
        slot="no-results"
        :value="true"
        color="error"
        icon="warning"
      >Your search for "{{ search }}" found no results.</v-alert>
    </v-data-table>
  </div>
</template>

<script>
export default {
  data() {
    return {
      dialog: false,
      search: "",
      headers: [
        {
          text: "Name",
          align: "left",
          sortable: true,
          value: "registration_number"
        },
        { text: "Username", value: "username" },
        { text: "Email", value: "email"},
        { text: "Email Verified", value: "verified" },
        { text: "Actions", sortable: false }
      ],
      users: [],
    };
  },

  methods: {
    viewItem() {
      this.dialog = true;
    },
    fetchUsers() {
      this.$store.commit('setLoading', true);
    	axios.get('users')
    		.then(response => {
          if(response.data) {
            this.users = response.data;
            this.$store.commit('setLoading', false);
          }
    		}).catch((err) => {
          console.log(err);
          this.$store.commit('setLoading', false);
        });
    },
    printItem() {}
  },
  mounted() {
  	this.fetchUsers() 
  },
  watch: {
    dialog(val) {
      val || this.close();
    },
   
  }
};
</script>