// Fonts
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons");

// Vuetify
@import "~vuetify/dist/vuetify.css";

// for item drag in datatable
.handle {
    cursor: move !important;
    cursor: -webkit-grabing !important;
}

// custom table css
.custom {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.custom td,
.custom th {
    border: 1px solid #dddddd;
    text-align: left;
}

.th-bold {
    font-weight: bold;
}

.custom tr:nth-child(even) {
    background-color: #dddddd;
}
