<template>
  <v-app>
    <v-content>
      <v-container fluid fill-height>
        <v-layout align-center justify-center>
          <v-flex xs12 sm8 md4>
            <v-alert :value="customError" type="error" outline>
              <span class="d-block" v-html="customError"></span>
            </v-alert>
            <v-card class="elevation-12">
              <v-toolbar dark color="primary">
                <v-toolbar-title>Nepal Cancer Society, Bhaktapur Nepal</v-toolbar-title>
                <v-spacer></v-spacer>
              </v-toolbar>
              <v-card-text>
                <v-form>
                  <v-text-field
                    v-validate="'required'"
                    :error-messages="errors.collect('username')"
                    data-vv-name="username"
                    prepend-icon="person"
                    v-model="username"
                    label="Username"
                    type="text"
                    @keyup.enter="submit"
                    autofocus
                    required
                  ></v-text-field>
                  <v-text-field
                    v-validate="'required'"
                    :error-messages="errors.collect('password')"
                    data-vv-name="password" 
                    prepend-icon="lock"
                    v-model="password"
                    label="Password"
                    type="password"
                    @keyup.enter="submit"
                    required
                  ></v-text-field>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="primary" @click="submit">Login</v-btn>
              </v-card-actions>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
  import Vue from 'vue'
  import VeeValidate from 'vee-validate'

  Vue.use(VeeValidate)

  export default {
    $_veeValidate: {
      validator: 'new'
    },

    data: () => ({
      customError: '',
      username: '',
      password: '',
      dictionary: {
        custom: {
          username: {
            required: () => 'Name can not be empty'
          },
          password: {
            required: () => 'Password can not be empty',
          }
        }
      }
    }),

    mounted () {
      this.$validator.localize('en', this.dictionary)
    },
    watch: {
      username () {
        this.customError = '';
      },
      password () {
        this.customError = '';
      },
    },
    methods: {
      submit () {
        this.$validator.validateAll()
          .then((res) => {
            if (res) {
              axios
                .post("login", { username: this.username, password: this.password })
                .then(response => {
                  window.location.reload();
                })
                .catch(error => {
                  // Unauthorized
                  if (error.response.status == 401) {
                    this.customError = "Incorrect username or password";
                  }
                  // // Unprocessable entity
                  if (error.response.status == 422) {
                    this.customError = error.response.data.errors.username[0];
                  }
                  
                  return false;
                });
            }
          })
          .catch((err) => {
            console.log("Error",err);
          });
      }

    }
  }
</script>
