<template
    ><div>
        <v-app>
            <sidebar-component></sidebar-component>
            <toolbar-component
                user-data="{ $user }"
                app-data="{ $app }"
            ></toolbar-component>
            <v-content>
                <v-progress-linear
                    :indeterminate="$store.getters.doneLoading"
                    v-show="$store.getters.doneLoading"
                ></v-progress-linear>
                <v-container fluid>
                    <router-view></router-view>
                </v-container>
            </v-content>
        </v-app>
    </div>
</template>
<style scoped></style>
<script>
// var a = { $user };
export default {};
</script>
