<template>
  <v-container grid-list-lg>
    <v-layout row wrap>
      <v-flex>
        <h2>Follow-up</h2>
      </v-flex>
      <v-dialog v-model="tableDialog" light persistent max-width="50%" lazy>
        <v-btn slot="activator" color="primary" dark>Add A Follow Up</v-btn>
        <v-card>
          <v-card-title>
            <span class="headline">Add A Follow Up</span>
          </v-card-title>

          <v-card-text>
            <v-container grid-list-md>
              <v-layout wrap>
                <v-flex xs12 sm12 md12>
                  <v-text-field
                    type="date"
                    v-model="table.follow_date"
                    label="Follow-up date"
                    required
                  ></v-text-field>
                </v-flex>
              </v-layout>
              <v-layout wrap>
                <v-flex xs12 sm12 md12>
                  <v-select
                    :items="status_follow_up_v"
                    item-text="text"
                    item-value="value"
                    label="Status"
                    v-model="table.status"
                  ></v-select>
                </v-flex>
              </v-layout>
              <v-layout wrap>
                <v-flex xs12 sm12 md12>
                  <v-text-field v-model="table.treatment" label="Treatment"></v-text-field>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>
            <div class="text-xs-center">
              <v-btn color="error" @click="tableDialog = false">Close</v-btn>
              <!-- <v-btn color="success" @click.prevent="saveAndContinueFollowUp()">Save and Continue</v-btn> -->
              <v-btn color="success" @click.prevent="saveFollowup()">Save</v-btn>
            </div>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-layout>
    <v-layout row wrap>
      <v-flex>
        <v-data-table :headers="followupheaders" :items="followUpData">
          <template v-slot:items="props">
            <td class="text-xs-left">{{ props.index +1}}</td>
            <td class="text-xs-left">{{ props.item.follow_date }}</td>
            <td class="text-xs-left">{{ props.item.status }}</td>
            <td class="text-xs-left">
              <v-icon small class="mr-2" @click="editItemFollowup(props.item.id)">edit</v-icon>
              <v-icon small @click="deleteItemFollowup(props.item.id)">delete</v-icon>
            </td>
          </template>
        </v-data-table>
      </v-flex>
    </v-layout>
    <v-layout row wrap>
      <v-flex>
        <h2>Information Source</h2>
      </v-flex>
      <v-dialog v-model="tableSecondDialog" light persistent max-width="80%" lazy>
        <v-btn slot="activator" color="primary" dark>Add Source of Information</v-btn>
        <v-card>
          <v-card-title>
            <span class="headline">Add Source of Information</span>
          </v-card-title>

          <v-card-text>
            <v-container grid-list-md>
              <v-layout wrap>
                <v-flex xs12 sm4 md4>
                  <v-text-field type="date" v-model="tableSecond.source_date" label="Date" required></v-text-field>
                </v-flex>
              </v-layout>
              <v-layout wrap>
                <v-flex xs12 sm4 md4>
                  <v-select
                    :items="source_type_v"
                    item-text="text"
                    item-value="value"
                    label="Source Type"
                    v-model="tableSecond.type"
                  ></v-select>
                </v-flex>
                <v-flex xs0 sm0 md2></v-flex>
                <v-flex xs12 sm4 md4>
                  <v-text-field
                    v-model="tableSecond.specify_source_type"
                    v-if="tableSecond.type==='Other'"
                    label="Specify Source Type"
                  ></v-text-field>
                </v-flex>
              </v-layout>
              <v-layout wrap>
                <v-flex xs12 sm4 md4>
                  <v-text-field v-model="tableSecond.name" label="Source Name" required></v-text-field>
                </v-flex>
                <v-flex xs0 sm0 md2></v-flex>

                <v-flex xs12 sm4 md4>
                  <v-text-field v-model="tableSecond.file_no" label="File Number" required></v-text-field>
                </v-flex>
              </v-layout>
              <v-layout wrap>
                <v-flex xs12 sm4 md4>
                  <v-select
                    :items="demographic_info_v"
                    item-text="text"
                    item-value="value"
                    label="Demographic Information"
                    v-model="tableSecond.demographic_information"
                  ></v-select>
                </v-flex>
                <v-flex xs0 sm0 md2></v-flex>

                <v-flex xs12 sm4 md4>
                  <v-select
                    :items="diagnosis_information_v"
                    item-text="text"
                    item-value="value"
                    label="Diagnosis Information"
                    v-model="tableSecond.diagnosis_information"
                  ></v-select>
                </v-flex>
              </v-layout>
              <v-layout wrap>
                <v-flex xs12 sm4 md4>
                  <v-select
                    :items="clinical_information_v"
                    item-text="text"
                    item-value="value"
                    label="Clinical Information"
                    v-model="tableSecond.clinical_information"
                  ></v-select>
                </v-flex>
                <v-flex xs0 sm0 md2></v-flex>

                <v-flex xs12 sm4 md4>
                  <v-select
                    :items="cross_verify_v"
                    item-text="text"
                    item-value="value"
                    label="Cross Verify"
                    v-model="tableSecond.cross_verify"
                  ></v-select>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>
            <div class="text-xs-center">
              <v-btn color="warning" @click="tableSecondDialog = false">Close</v-btn>
              <!-- <v-btn color="success" @click.prevent="saveAndContinueSource()">Save and Continue</v-btn> -->
              <v-btn color="success" @click.prevent="saveSource()">Save</v-btn>
            </div>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-layout>
    <v-layout row wrap>
      <v-flex>
        <v-data-table :headers="informationheaders" :items="sourceData">
          <template v-slot:items="props">
            <td class="text-xs-left">{{ props.index +1}}</td>
            <td class="text-xs-left">{{ props.item.source_date }}</td>
            <td class="text-xs-left">{{ props.item.type }}</td>
            <td class="text-xs-left">{{ props.item.name }}</td>
            <td class="text-xs-left">
              <v-icon small class="mr-2" @click="editItemSource(props.item.id)">edit</v-icon>
              <v-icon small @click="deleteItemSource(props.item.id)">delete</v-icon>
            </td>
          </template>
        </v-data-table>
      </v-flex>
    </v-layout>
    <v-flex>
      <v-layout row justify-space-between>
        <v-btn color="error" @click="reset()">Reset</v-btn>
        <div>
          <v-btn depressed @click="back()">Back</v-btn>
          <v-btn color="primary" @click="next()">Save & Continue</v-btn>
          <!-- <preview-form :data="getShowData" v-if="e1 === 6"></preview-form> -->
          <!-- <v-btn color="success" v-if="e1 == 6" @click="savePatient()">Save</v-btn> -->
        </div>
      </v-layout>
    </v-flex>
  </v-container>
</template>
<script>
import constant from "../../../constant.js";
import custom from "../../../custom.js";
import { mapState } from "vuex";

export default {
  mounted() {
    this.source_type_v = constant.source_type;
    this.demographic_info_v = constant.demographic_info;
    this.diagnosis_information_v = constant.diagnosis_information;
    this.clinical_information_v = constant.clinical_information;
    this.cross_verify_v = constant.cross_verify;
    this.status_follow_up_v = constant.status_follow_up;
    this.readFollowup();

    this.readSource();
  },
  computed: {
    ...mapState(["e1"]),
    ...mapState(["patient_id"])
  },
  data() {
    return {
      tableSecondDialog: false,
      tableDialog: null,

      source_type_v: [],
      demographic_info_v: [],
      diagnosis_information_v: [],
      clinical_information_v: [],
      cross_verify_v: [],
      status_follow_up_v: [],
      followUpData: [],
      sourceData: [],
      followupheaders: [
        {
          text: "S.N",
          align: "left",
          sortable: false,
          value: "name"
        },

        { text: "Date", value: "date" },
        { text: "Status", value: "sbehavior" },
        { text: "Actions", value: "action" }
      ],
      informationheaders: [
        {
          text: "S.N",
          align: "left",
          sortable: false,
          value: "name"
        },
        { text: "Date", value: "date" },
        { text: "Source Type", value: "sourcetype" },
        { text: "Source name", value: "sourcename" },
        { text: "Actions", value: "action" }
      ],
      table: { follow_date: null, status: null, treatment: null },
      tableSecond: {
        source_date: null,
        type: null,
        name: null,
        file_no: null,
        demographic_information: null,
        diagnosis_information: null,
        clinical_information: null,
        cross_verify: null
        // follow_up_information: null,

        // followup_items: []
      }
    };
  },
  methods: {
    saveFollowup() {
      const newData = this.table;
      // console.log("NewDataTable", newData);
      // console.log("NewDataTable-table", this.table);
      newData["patient_id"] = this.patient_id;
      axios
        .post("/follow", { data: newData })
        .then(response => {
          // this.message = "Form has been submitted successfully";
          // this.snackbar = true;
        })
        .catch(error => {
          console.log("Debug Message Error ", error);
          // this.$store.commit("setLoading", false);
        });
      this.readFollowup();
    },
    readFollowup() {
      const id = this.$store.state.patient_id;

      axios
        .get("/follow/" + id)
        .then(response => {
          this.followUpData = response.data;
        })
        .catch(error => {
          console.log("Bulk delete", error);
        });
    },
    editItemFollowup(item) {
      axios
        .get("/follow/" + item)
        .then(response => {
          console.log("Follow up data ", response.data);
          alert("Edit Succesful");
        })
        .catch(error => {
          console.log("Debug Message Error ", error);
        });
      this.readFollowup();
    },
    deleteItemFollowup(item) {
      alert("Delete Succesful");
      axios
        .delete("/follow/" + item)
        .then(response => {})
        .catch(error => {
          console.log("Debug Message Error ", error);
        });
      this.readFollowup();
    },
    readSource() {
      const id = this.$store.state.patient_id;

      axios
        .get("/source/" + id)
        .then(response => {
          this.sourceData = response.data;
        })
        .catch(error => {
          console.log("Bulk delete", error);
        });
    },
    editItemSource(item) {
      axios
        .get("/source/" + item)
        .then(response => {
          console.log("Source data ", response.data);
          // alert("Edit Succesful");
        })
        .catch(error => {
          console.log("Debug Message Error ", error);
        });
      this.readSource();
    },
    deleteItemSource(item) {
      alert("Delete Succesful");
      axios
        .delete("/source/" + item)
        .then(response => {})
        .catch(error => {
          console.log("Debug Message Error ", error);
        });
      this.readSource();
    },
    saveSource() {
      const newData = this.tableSecond;
      console.log("NewDataTable", newData);
      console.log("NewDataTable-table", this.tableSecond);
      newData["patient_id"] = this.patient_id;
      axios
        .post("/source", { data: newData })
        .then(response => {
          // this.message = "Form has been submitted successfully";
          // this.snackbar = true;
        })
        .catch(error => {
          console.log("Debug Message Error ", error);
          // this.$store.commit("setLoading", false);
        });
      this.readSource();
    },
    reset() {
      this.$store.dispatch("updatee1", 1);
      this.$router.go();
    },
    back: function() {
      custom.scrollToTop();
      this.$store.dispatch("updatee1", --this.e1);
    },
    next: function() {
      custom.scrollToTop();
      console.log("Value of E1", ++this.e1);
      this.$store.dispatch("updatee1", ++this.e1);
    }
    // savePage() {
    //   const newData = this.$data;
    //   newData["patient_id"] = this.patient_id;
    //   axios
    //     .post("/follow", { data: this.$data })
    //     .then(response => {
    //       // this.message = "Form has been submitted successfully";
    //       // this.snackbar = true;
    //     })
    //     .catch(error => {
    //       console.log("Debug Message Error ", error);
    //       // this.$store.commit("setLoading", false);
    //     });
    // }
  }
};
</script>
<style scoped>
</style>