<template>
  <v-container grid-list-lg>
    <v-layout row wrap>
      <v-flex xs12 sm5 md5>
        <v-text-field type="date" label="Date of death" v-model="death_date"></v-text-field>
      </v-flex>
    </v-layout>
    <v-layout row wrap>
      <v-flex xs12 sm5 md5>
        <v-select :items="death_cause_v" label="Cause of death" v-model="cause_of_death"></v-select>
      </v-flex>
      <v-flex xs0 sm1 md1></v-flex>
      <v-flex xs12 sm5 md5>
        <v-text-field
          v-model="death_specify"
          v-if="cause_of_death==='Other (Specify)'"
          label="Specify"
        ></v-text-field>
      </v-flex>
    </v-layout>
    <v-layout row wrap>
      <v-flex xs12 sm5 md5>
        <v-select :items="death_place_v" label="Place of death" v-model="place_of_death"></v-select>
      </v-flex>
      <v-flex xs0 sm1 md1></v-flex>

      <v-flex xs12 sm5 md5>
        <v-text-field
          v-if="place_of_death==='Other (Specify)'"
          v-model="approved_by"
          label="Other (Specify)"
        ></v-text-field>
      </v-flex>
    </v-layout>
    <v-layout row wrap>
      <v-flex xs12 sm12 md12>
        <v-textarea v-model="remarks" label="Remarks"></v-textarea>
      </v-flex>
    </v-layout>
    <v-layout row wrap>
      <v-flex xs12 sm5 md5>
        <v-text-field v-model="collected_by" label="Collected by"></v-text-field>
      </v-flex>
      <v-flex xs12 sm5 md5>
        <v-text-field type="date" v-model="collected_date" label="Collection Date"></v-text-field>
      </v-flex>
    </v-layout>
    <v-layout row wrap>
      <v-flex xs12 sm5 md5>
        <v-text-field v-model="approved_by" label="Approved by"></v-text-field>
      </v-flex>
      <v-flex xs12 sm5 md5>
        <v-text-field type="date" v-model="approved_date" label="Approved Date"></v-text-field>
      </v-flex>
    </v-layout>
    <v-flex>
      <v-layout row justify-space-between>
        <v-btn color="error" @click="reset()">Reset</v-btn>
        <div>
          <v-btn depressed @click="back()">Back</v-btn>
          <v-btn color="primary" @click="next()">Save & Continue</v-btn>
          <!-- <preview-form :data="getShowData" v-if="e1 === 6"></preview-form> -->
          <!-- <v-btn color="success" v-if="e1 == 6" @click="savePatient()">Save</v-btn> -->
        </div>
      </v-layout>
    </v-flex>
  </v-container>
</template>
<style scoped>
</style>
<script>
import constant from "../../../constant";
import custom from "../../../custom.js";
import { mapState } from "vuex";

export default {
  mounted() {
    this.death_cause_v = constant.death_place;
    this.death_place_v = constant.death_place;
    // if (this.$store.state.stepOne.registration_no) {
    //   axios
    //     .get("/other/")
    //     // .get(this.url + "?page=" + this.patientPagination.current)
    //     .then(response => {
    //       if (response.data) {
    //         console.log("All Patient", response.data);
    //         this.patients = response.data;
    //         // this.patientPagination.current = response.data.current_page;
    //         // this.patientPagination.total = response.data.last_page;
    //         this.$store.commit("setLoading", false);
    //       }
    //     })
    //     .catch(err => {
    //       console.log(err);
    //       this.$store.commit("setLoading", false);
    //     });
    // }
  },
  computed: {
    ...mapState(["e1"]),
    ...mapState(["patient_id"])
  },
  data() {
    return {
      death_cause_v: [],
      death_place_v: [],
      death_date: null,
      cause_of_death: null,
      place_of_death: null,
      remarks: null,
      collected_by: null,
      collected_date: null,
      approved_by: null,
      death_specify: null,
      approved_date: null
    };
  },
  methods: {
    reset() {
      this.$store.dispatch("updatee1", 1);
      this.$router.go();
    },
    back: function() {
      custom.scrollToTop();
      this.$store.dispatch("updatee1", --this.e1);
    },
    next: function() {
      this.savePage();
    },
    savePage() {
      const newData = this.$data;
      newData["patient_id"] = this.patient_id;
      axios
        .post("/others", { data: this.$data })
        .then(response => {
          this.$router.push("patient");
        })
        .catch(error => {
          console.log("Debug Message Error ", error);
          // this.$store.commit("setLoading", false);
        });
    }
  }
};
</script>