<template>
  <v-container grid-list-lg>
    <v-layout row wrap>
      <v-flex xs12 sm4 md3>
        <v-text-field
          label="Registration Number *"
          ref="reg_field"
          type="number"
          required
          v-model="registration_no"
        ></v-text-field>
      </v-flex>
      <v-flex md1 sm0 xs0></v-flex>
      <v-flex xs12 sm4 md3>
        <!-- new -->
        <v-text-field label="File Number" type="number" v-model="national_file_no"></v-text-field>
      </v-flex>
      <v-flex md1 sm0 xs0></v-flex>
      <v-flex xs12 sm4 md3>
        <v-text-field label="National Identity Number" type="number" v-model="national_identity_no"></v-text-field>
      </v-flex>
    </v-layout>
    <v-layout row wrap>
      <label for="personal">
        <h2>Personal Infromation</h2>
      </label>
    </v-layout>

    <v-layout row wrap>
      <v-flex xs12 sm4 md3>
        <v-text-field v-model="patient_first_name" ref="fname_field" required label="First Name *"></v-text-field>
      </v-flex>
      <v-flex md1 sm0 xs0></v-flex>

      <v-flex xs12 sm4 md3>
        <v-text-field v-model="patient_middle_name" required label="Middle Name"></v-text-field>
      </v-flex>
      <v-flex md1 sm0 xs0></v-flex>

      <v-flex xs12 sm4 md3>
        <v-text-field v-model="patient_last_name" required label="Last Name"></v-text-field>
      </v-flex>
    </v-layout>

    <v-layout row wrap>
      <v-flex xs12 sm4 md3>
        <v-text-field type="date" label="Date of Birth" v-model="birth_date"></v-text-field>
      </v-flex>
      <v-flex md1 sm0 xs0></v-flex>

      <v-flex xs12 sm4 md3>
        <v-text-field type="number" v-model="age" label="Age"></v-text-field>
      </v-flex>
      <v-flex md1 sm0 xs0></v-flex>

      <v-flex xs12 sm4 md3>
        <v-select
          :items="gender_v"
          item-text="text"
          item-value="value"
          label="Gender"
          v-model="gender"
        ></v-select>
      </v-flex>
    </v-layout>
    <v-layout row wrap>
      <v-flex xs12 sm4 md3>
        <v-select
          :items="marital_status_v"
          item-text="text"
          item-value="value"
          v-model="marital_status"
          label="Marital status"
        ></v-select>
      </v-flex>
      <v-flex md1 sm0 xs0></v-flex>

      <v-flex xs12 sm4 md3>
        <v-select
          :items="ethnic_group_v"
          item-text="text"
          item-value="value"
          label="Ethnic group"
          v-model="ethnic_group"
        ></v-select>
      </v-flex>
      <v-flex md1 sm0 xs0></v-flex>
      <v-flex xs12 sm4 md3>
        <v-select
          :items="religions_v"
          label="Religion"
          v-model="religion"
          item-text="text"
          item-value="value"
        ></v-select>
      </v-flex>
    </v-layout>
    <v-layout row wrap>
      <v-flex xs12 sm4 md3>
        <v-select
          :items="education_v"
          item-text="text"
          item-value="value"
          label="Education"
          v-model="education"
        ></v-select>
      </v-flex>

      <v-flex md1 sm0 xs0></v-flex>

      <v-flex xs12 sm4 md3>
        <v-select
          :items="occupation_v"
          item-text="text"
          item-value="value"
          label="Occupation"
          v-model="occupation"
        ></v-select>
      </v-flex>
      <v-flex md1 sm0 xs0></v-flex>

      <v-flex xs12 sm4 md3>
        <v-select
          :items="nationality_v"
          label="Nationality"
          v-model="nationality"
          item-text="text"
          item-value="value"
        ></v-select>

        <!-- new -->
      </v-flex>
    </v-layout>
    <v-layout row wrap>
      <v-flex xs12 sm4 md3>
        <v-select
          :items="certificate_type_v"
          label="Certificate Type"
          v-model="certificate_type"
          item-text="text"
          item-value="value"
        ></v-select>
      </v-flex>
      <v-flex md1 sm0 xs0></v-flex>
    </v-layout>
    <v-layout row wrap v-if="certificate_type">
      <v-flex xs12 sm4 md3>
        <v-text-field v-model="certificate_no" :label="getCertificateType"></v-text-field>
      </v-flex>
      <v-flex md1 sm0 xs0></v-flex>

      <v-flex xs12 sm4 md3>
        <v-text-field type="date" v-model="certificate_issue_date" label="Date of Issue"></v-text-field>
      </v-flex>
      <v-flex md1 sm0 xs0></v-flex>

      <v-flex xs12 sm4 md3>
        <v-text-field v-model="certificate_issue_place" label="Place of Issue"></v-text-field>
      </v-flex>
    </v-layout>
    <!-- <v-layout column>
            <v-flex row pl-5>
              <v-spacer></v-spacer>
              <v-text-field
                type="date"
                v-model="step.Patient.certificate_issue_date"
                label="Date of Issue"
              ></v-text-field>
            </v-flex>
            <v-flex pl-5>
              <v-spacer></v-spacer>
              <v-text-field v-model="step.Patient.certificate_issue_place" label="Place of Issue"></v-text-field>
            </v-flex>
    </v-layout>-->

    <v-layout row wrap>
      <label for="Current Address">
        <h2>Current Address</h2>
      </label>
    </v-layout>
    <v-layout row wrap>
      <v-flex xs12 sm4 md3>
        <v-select
          :items="province_v"
          item-key="text"
          item-value="value"
          label="Province"
          @change="handleProvincecr($event)"
          v-model="cr_province"
        ></v-select>
      </v-flex>
      <v-flex md1 sm0 xs0></v-flex>

      <v-flex xs12 sm4 md3>
        <v-select
          :items="cr_list_district"
          item-text="text"
          v-if="cr_province"
          item-value="value"
          label="District"
          v-model="cr_district"
        ></v-select>
      </v-flex>
      <v-flex md1 sm0 xs0></v-flex>

      <v-flex xs12 sm4 md3>
        <v-text-field label="Gaupalika/Nagarpalika" v-model="cr_gp_mp"></v-text-field>
      </v-flex>
    </v-layout>
    <v-layout row wrap>
      <v-flex xs12 sm4 md3>
        <v-text-field label="Ward" type="number" v-model="cr_ward"></v-text-field>
      </v-flex>
      <v-flex md1 sm0 xs0></v-flex>

      <v-flex xs12 sm4 md3>
        <v-text-field label="Tole/ Village" v-model="cr_village"></v-text-field>
      </v-flex>
      <v-flex md1 sm0 xs0></v-flex>
    </v-layout>

    <v-layout row wrap>
      <label for="Current Address">
        <h2>Permanent Address</h2>
      </label>
    </v-layout>
    <v-layout row wrap>
      <v-flex xs12 sm4 md3>
        <v-select
          :items="province_v"
          item-key="text"
          item-value="value"
          label="Province"
          @change="handleProvincepr($event)"
          v-model="pr_province"
        ></v-select>
      </v-flex>

      <v-flex md1 sm0 xs0></v-flex>

      <v-flex xs12 sm4 md3>
        <v-select
          :items="pr_list_district"
          item-text="text"
          item-value="value"
          label="District"
          v-if="pr_province"
          v-model="pr_district"
        ></v-select>
      </v-flex>
      <v-flex md1 sm0 xs0></v-flex>

      <v-flex xs12 sm4 md3>
        <v-text-field label="Gaupalika/Nagarpalika" v-model="pr_gp_mp"></v-text-field>
      </v-flex>
    </v-layout>
    <v-layout row wrap>
      <v-flex xs12 sm4 md3>
        <v-text-field label="Ward" type="number" v-model="pr_ward"></v-text-field>
      </v-flex>
      <v-flex md1 sm0 xs0></v-flex>

      <v-flex xs12 sm4 md3>
        <v-text-field label="Tole/ Village" v-model="pr_village"></v-text-field>
      </v-flex>
      <v-flex md1 sm0 xs0></v-flex>
    </v-layout>

    <v-layout row wrap>
      <v-flex xs12 sm4 md3>
        <v-text-field label="Phone Number" v-model="phone_no"></v-text-field>
      </v-flex>
      <v-flex md1 sm0 xs0></v-flex>

      <v-flex xs12 sm4 md3>
        <v-text-field label="Alternative Phone Number" v-model="alternative_phone_no"></v-text-field>
      </v-flex>
      <v-flex md1 sm0 xs0></v-flex>
    </v-layout>
    <v-layout row wrap>
      <label for="Current Address">
        <h2>Other Information</h2>
      </label>
    </v-layout>
    <v-layout row wrap>
      <v-flex xs12 sm4 md3>
        <v-text-field v-model="relative_name" label="Relative Name"></v-text-field>
      </v-flex>
      <v-flex md1 sm0 xs0></v-flex>

      <v-flex xs12 sm4 md3>
        <v-select
          :items="relation_with_patient_v"
          item-text="text"
          item-value="value"
          v-model="relation_with_patient"
          label="Relation with patient"
        ></v-select>
      </v-flex>
      <v-flex md1 sm0 xs0></v-flex>
    </v-layout>
    <v-layout row wrap>
      <v-flex xs12 sm4 md3>
        <v-select
          :items="year_at_age_of_diagnosis_v"
          item-text="text"
          item-value="value"
          v-model="year_at_age_of_diagnosis"
          label="Year at age of diagnosis"
        ></v-select>
      </v-flex>
      <v-flex md1 sm0 xs0></v-flex>

      <v-flex xs12 sm4 md3>
        <v-text-field type="number" v-model="stay_no" label="Length of stay at KTM"></v-text-field>
      </v-flex>
      <v-flex md1 sm0 xs0></v-flex>
    </v-layout>
    <v-flex>
      <v-layout row justify-space-between>
        <v-btn color="error" @click="reset()">Reset</v-btn>
        <div>
          <!-- <v-btn depressed @click="back()">Back</v-btn> -->
          <v-btn color="primary" @click="next()">Save & Continue</v-btn>
          <!-- <preview-form :data="getShowData" v-if="e1 === 6"></preview-form> -->
          <!-- <v-btn color="success" v-if="e1 == 6" @click="savePatient()">Save</v-btn> -->
        </div>
      </v-layout>
    </v-flex>
  </v-container>
</template>

<script>
import custom from "../../../custom.js";
import { mapState } from "vuex";
import constant from "../../../constant.js";

export default {
  mounted() {
    this.gender_v = constant.gender;
    this.marital_status_v = constant.marital_status;
    this.ethnic_group_v = constant.ethnic_group;
    this.religions_v = constant.religions;
    this.education_v = constant.education;
    this.occupation_v = constant.occupation;
    this.nationality_v = constant.nationality;
    this.certificate_type_v = constant.certificate_type;
    this.province_v = constant.province;
    this.district_v = constant.district;
    //districts
    this.relation_with_patient_v = constant.relation_with_patient;
    this.year_at_age_of_diagnosis_v = constant.year_at_age_of_diagnosis;
    this.e1 = this.$store.commit("sete1", 1);
    console.log("MY CURRENT STATE", this.$store.state);
    if (this.$store.state.stepOne.registration_no) {
      this.registration_no = this.$store.state.stepOne.registration_no;
      this.national_file_no = this.$store.state.stepOne.file_no;
      this.national_identity_no = this.$store.state.stepOne.national_identity_no;
      this.patient_first_name = this.$store.state.stepOne.patient_first_name;
      this.patient_middle_name = this.$store.state.stepOne.patient_middle_name;
      this.patient_last_name = this.$store.state.stepOne.patient_last_name;
      this.birth_date = this.$store.state.stepOne.birth_date;
      this.age = this.$store.state.stepOne.age;
      this.gender = this.$store.state.stepOne.gender;
      this.marital_status = this.$store.state.stepOne.marital_status;
      this.ethnic_group = this.$store.state.stepOne.ethnic_group;
      this.religion = this.$store.state.stepOne.religion;
      this.education = this.$store.state.stepOne.education;
      this.occupation = this.$store.state.stepOne.occupation;
      this.nationality = this.$store.state.stepOne.nationality;
      this.certificate_type = this.$store.state.stepOne.certificate_type;
      this.certificate_no = this.$store.state.stepOne.certificate_no;
      this.certificate_issue_date = this.$store.state.stepOne.certificate_issue_date;
      this.certificate_issue_place = this.$store.state.stepOne.certificate_issue_place;
      this.cr_province = this.$store.state.stepOne.cr_province;
      this.religions = this.$store.state.stepOne.religions;
      this.cr_district = this.$store.state.stepOne.cr_district;
      this.cr_gp_mp = this.$store.state.stepOne.cr_gp_mp_name;
      this.cr_ward = this.$store.state.stepOne.cr_ward;
      this.pr_village = this.$store.state.stepOne.pr_village;
      this.pr_province = this.$store.state.stepOne.pr_province;
      this.pr_district = this.$store.state.stepOne.pr_district;
      this.pr_gp_mp = this.$store.state.stepOne.pr_gp_mp_name;
      this.pr_ward = this.$store.state.stepOne.pr_ward;
      this.pr_village = this.$store.state.stepOne.pr_village;
      this.cr_village = this.$store.state.stepOne.cr_village;
      this.phone_no = this.$store.state.stepOne.phone_no;
      this.alternative_phone_no = this.$store.state.stepOne.alternative_phone_no;
      this.relative_name = this.$store.state.stepOne.relative_name;
      this.relation_with_patient = this.$store.state.stepOne.relation_with_patient;
      this.year_at_age_of_diagnosis = this.$store.state.stepOne.year_at_age_of_diagnosis;
      this.stay_no = this.$store.state.stepOne.stay_no;
      // this.marital_status_v = this.$store.state.stepOne.marital_status_v;
      // this.ethnic_group_v = this.$store.state.stepOne.ethnic_group_v;
      // this.religions_v = this.$store.state.stepOne.religions_v;
      // this.education_v = this.$store.state.stepOne.education_v;
      // this.occupation_v = this.$store.state.stepOne.occupation_v;
      // this.nationality_v = this.$store.state.stepOne.nationality_v;
      // this.certificate_type_v = this.$store.state.stepOne.certificate_type_v;
      console.log("Update district", this.$store.state.stepOne.cr_district);

      // this.relation_with_patient_v = this.$store.state.stepOne.relation_with_patient_v;
      // this.year_at_age_of_diagnosis_v = this.$store.state.stepOne.year_at_age_of_diagnosis_v;
      // console.log("E1", this.e1);
    }

    // if (this.$store.state.stepOne.registration_no) {
    //   this.$data = this.$store.state.stepOne;
    // } else {
    //   console.log("UNDEFINED", this.$store.state.stepOne);
    // }
  },
  methods: {
    handleProvincecr(province) {
      this.cr_list_district = this.district_v[province];
      // this.currentDistrict = constant[province];
    },
    handleProvincepr(province) {
      this.pr_list_district = this.district_v[province];
      // this.currentDistrict = constant[province];
    },
    reset() {
      // this.$store.commit("setPatientId", null);
      // this.$store.commit("setStepOne", {});
      // this.$store.commit("setStepTwo", {});
      // this.$store.commit("setStepThree", {});
      // this.$store.commit("setStepFour", {});
      // this.$store.commit("setStepFive", {});
      // this.$store.commit("setStepSix", {});
      this.$store.dispatch("updatee1", 1);
      this.$router.go();
    },
    next: function() {
      if (this.registration_no === null || this.patient_first_name === null) {
        alert("Fill all the required form");

        if (this.patient_first_name === null) this.$refs.fname_field.focus();
        if (this.registration_no === null) this.$refs.reg_field.focus();

        console.log(this.$refs.field);
        // let $ref = this.$refs["ticketCode_" + this.resoTrans_id];
        // $ref.style.backgroundColor = "#66bb6a";
        // $ref.style.border = "1px solid #66bb6a";
      } else {
        if (this.$store.state.stepOne.registration_no) {
          //edit or update the patient form
          this.updatePage(this.$store.state.patient_id);
        } else {
          //creates new patient
          this.savePage();
        }
      }
    },
    savePage() {
      axios
        .post("/patientidentify", { data: this.$data })
        .then(response => {
          this.$store.commit("setPatientId", response.data);
          this.gotoNext();

          // this.message = "Form has been submitted successfully";
          // this.snackbar = true;
        })
        .catch(error => {
          console.log("Debug Message Error ", error);
          // this.$store.commit("setLoading", false);
        });
    },
    gotoNext() {
      custom.scrollToTop();
      this.$store.commit("setStepOne", this.$data);

      this.$store.dispatch("updatee1", ++this.e1);
    },
    updatePage(id) {
      console.log("New update", this.$data);
      axios
        .put("/patientidentify/" + id, { data: this.$data })
        .then(response => {
          this.gotoNext();
          // this.message = "Form has been submitted successfully";
          // this.snackbar = true;
        })
        .catch(error => {
          console.log("Debug Message Error ", error);

          // this.$store.commit("setLoading", false);
        });
    }
  },
  computed: {
    ...mapState(["e1"]),
    ...mapState(["patient_id"]),
    getCertificateType: function() {
      if (this.certificate_type) {
        return this.certificate_type + " no";
      }
      return "";
    }
  },
  data() {
    return {
      registration_no: null,
      national_file_no: null,
      national_identity_no: null,
      patient_first_name: null,
      patient_middle_name: null,
      patient_last_name: null,
      birth_date: null,
      age: null,
      gender: null,
      marital_status: null,
      ethnic_group: null,
      religion: null,
      education: null,
      occupation: null,
      nationality: null,
      certificate_type: null,
      certificate_type_v: null,
      certificate_no: null,
      certificate_issue_date: null,
      certificate_issue_place: null,
      cr_province: null,
      religions: null,
      cr_district: null,
      cr_gp_mp: null,
      cr_ward: null,
      cr_village: null,
      pr_province: null,
      pr_district: null,
      pr_gp_mp: null,
      pr_ward: null,
      pr_village: null,
      phone_no: null,
      alternative_phone_no: null,
      relative_name: null,
      relation_with_patient: null,
      year_at_age_of_diagnosis: null,
      stay_no: null,
      marital_status_v: [],
      ethnic_group_v: [],
      religions_v: [],
      education_v: [],
      occupation_v: [],
      nationality_v: [],
      certificate_type_v: [],
      cr_list_district: [],
      pr_list_district: [],
      anyalert: false,
      relation_with_patient_v: [],
      year_at_age_of_diagnosis_v: [],
      gender_v: [],
      province_v: [],
      district_v: []
    };
  }
};
</script>

<style scoped>
</style>