<template>
  <v-container grid-list-lg>
    <v-layout row wrap>
      <label for="New PrimarySite">
        <h2>Primary Site</h2>
      </label>
    </v-layout>
    <v-layout row wrap>
      <v-flex>
        <v-data-table :headers="primaryheaders" :items="primarydata">
          <template v-slot:items="props">
            <td class="text-xs-left">{{ props.index +1}}</td>
            <td class="text-xs-left">{{ props.item.date_of_first_diagnosis }}</td>
            <td class="text-xs-left">{{ props.item.primary_site }}</td>
            <td class="text-xs-left">{{ props.item.laterality }}</td>
            <td class="text-xs-left">
              <v-icon small class="mr-2" @click="editItem(props.item.id)">edit</v-icon>
              <v-icon small @click="deleteItem(props.item.id)">delete</v-icon>
            </td>
          </template>
        </v-data-table>
      </v-flex>
    </v-layout>
    <v-layout row wrap>
      <label for="New PrimarySite">
        <h2>Add New Primary Site</h2>
      </label>
    </v-layout>
    <v-layout row wrap>
      <v-flex xs12 sm10 md8>
        <v-text-field label="Clinical diagnosis" v-model="clinical_diagnosis"></v-text-field>
      </v-flex>
      <v-flex md1 sm0 xs0></v-flex>
    </v-layout>
    <v-layout row wrap>
      <v-flex xs12 sm6 md5>
        <v-text-field
          label="Date of diagnosis"
          type="date"
          hint="Please refer Guidelines for Date of Incidence"
          v-model="date_of_diagnosis"
        ></v-text-field>
      </v-flex>
      <v-flex md1 sm0 xs0></v-flex>
    </v-layout>
    <v-layout row wrap>
      <label for>Basis of diagnosis</label>
    </v-layout>
    <v-radio-group v-model="basis_of_diagnosis_radio">
      <v-layout row wrap>
        <v-flex xs12 sm4 md4>
          <v-radio label="Death certificate only" value="Death certificate only"></v-radio>
        </v-flex>
        <v-flex xs12 sm4 md4>
          <v-radio label="Clinical Note" value="Clinical Note"></v-radio>
        </v-flex>
        <v-flex xs12 sm4 md4>
          <v-radio
            label="Clinical Investigation (X-ray/ Ultrasound)"
            value="Clinical Investigation (X-ray/ Ultrasound)"
          ></v-radio>
        </v-flex>
      </v-layout>
      <v-layout row wrap>
        <v-flex xs12 sm4 md4>
          <v-radio label="Surgery" value="Surgery"></v-radio>
        </v-flex>
        <v-flex xs12 sm4 md4>
          <v-radio label="Specific Tumor Marker" value="Specific Tumor Marker"></v-radio>
        </v-flex>
        <v-flex xs12 sm4 md4>
          <v-radio
            label="Cytology/ Peripheral blood/ Bone marrow"
            value="Cytology/ Peripheral blood/ Bone marrow"
          ></v-radio>
        </v-flex>
      </v-layout>
      <v-layout row wrap>
        <v-flex xs12 sm4 md4>
          <v-radio label="Histology of Metasis" value="Histology of Metasis"></v-radio>
        </v-flex>
        <v-flex xs12 sm4 md4>
          <v-radio label="Histology of primary Tumor" value="Histology of primary Tumor"></v-radio>
        </v-flex>
        <v-flex xs12 sm4 md4>
          <v-radio label="Verbal Information" value="Verbal Information"></v-radio>
        </v-flex>
      </v-layout>
      <v-layout row wrap>
        <v-flex xs12 sm4 md4>
          <v-radio label="Unknown" value="Unknown"></v-radio>
        </v-flex>
      </v-layout>
    </v-radio-group>
    <v-layout row wrap>
      <v-flex xs12 sm6 md5>
        <v-text-field label="Primary site" v-model="primary_site"></v-text-field>
      </v-flex>
      <v-flex md1 sm0 xs0></v-flex>

      <v-flex xs12 sm6 md5>
        <v-text-field label="ICD-03 code 3rd ED" v-model="primary_site_code"></v-text-field>
      </v-flex>
    </v-layout>
    <v-layout row wrap>
      <v-flex xs12 sm6 md5>
        <v-text-field
          label="Microscopic finding of primary site"
          v-model="microscopic_finding_primary_site"
        ></v-text-field>
      </v-flex>
      <v-flex md1 sm0 xs0></v-flex>

      <v-flex xs12 sm6 md5>
        <v-text-field label="ICD-03 code 3rd ED" v-model="microscopic_finding_primary_site_code"></v-text-field>
      </v-flex>
    </v-layout>
    <v-layout row wrap>
      <v-flex xs12 sm6 md5>
        <v-select :items="laterality_v" v-model="laterality" label="Laterality of primary tumor"></v-select>
      </v-flex>
    </v-layout>
    <v-layout row wrap>
      <v-flex xs12 sm6 md5>
        <v-text-field
          label="Morphological Diagnosis of primary tumor"
          v-model="morpological_diagnosis_primary_site"
        ></v-text-field>
      </v-flex>
      <v-flex md1 sm0 xs0></v-flex>

      <v-flex xs12 sm6 md5>
        <v-text-field label="ICD-0 code" v-model="morpological_diagnosis_primary_site_code"></v-text-field>
      </v-flex>
    </v-layout>
    <v-layout row wrap>
      <v-flex xs12 sm6 md5>
        <v-select
          :items="behavior_v"
          item-text="text"
          item-value="value"
          label="Primary Behavior"
          v-model="behavior"
        ></v-select>
      </v-flex>
      <v-flex md1 sm0 xs0></v-flex>

      <v-flex xs12 sm6 md5>
        <v-select
          :items="grade_v"
          item-text="text"
          item-value="value"
          label="Grade"
          v-model="grade"
        ></v-select>
      </v-flex>
    </v-layout>

    <v-layout row wrap>
      <label for="Staging">
        <h2>Staging</h2>
      </label>
    </v-layout>
    <v-layout row wrap>
      <label for="TNMClassification">TNM Classification</label>
    </v-layout>
    <v-layout row wrap>
      <v-flex xs12 sm4 md3>
        <v-text-field label="Tumor" v-model="pr_staging_tumor"></v-text-field>
      </v-flex>
      <v-flex md1 sm0 xs0></v-flex>

      <v-flex xs12 sm4 md3>
        <v-text-field label="Node" v-model="pr_staging_node"></v-text-field>
      </v-flex>
      <v-flex md1 sm0 xs0></v-flex>

      <v-flex xs12 sm4 md3>
        <v-text-field label="Metasis" v-model="pr_staging_metasis"></v-text-field>
      </v-flex>
    </v-layout>
    <v-layout row wrap>
      <v-flex xs12 sm4 md5>
        <v-text-field label="FIGO Stage ( for Cervix and Ovary)" v-model="pr_staging_figo"></v-text-field>
      </v-flex>
      <v-flex md1 sm0 xs0></v-flex>
      <v-flex xs12 sm4 md5>
        <v-text-field label="An Arbor Stage (for Lymphoma)" v-model="pr_staging_Arbor"></v-text-field>
      </v-flex>
    </v-layout>
    <v-layout row wrap>
      <v-flex xs12 sm6 md5>
        <v-text-field label="Composite Stage" v-model="pr_staging_composite"></v-text-field>
      </v-flex>
      <v-flex md1 sm0 xs0></v-flex>
      <v-flex xs12 sm6 md5>
        <v-text-field label="Other Stage (Specify name and system used)" v-model="pr_staging_other"></v-text-field>
      </v-flex>
    </v-layout>
    <v-layout row wrap>
      <v-flex xs12 sm6 md5>
        <v-select
          :items="extent_of_disease_v"
          item-text="text"
          item-value="value"
          label="Extent of disease"
          v-model="extent_of_disease"
        ></v-select>
      </v-flex>
      <v-flex md1 sm0 xs0></v-flex>
    </v-layout>
    <v-layout row wrap>
      <v-flex>
        <v-btn color="success" @click="savePage()" dark>Add a New Primary Site</v-btn>
      </v-flex>
    </v-layout>
    <v-flex>
      <v-layout row justify-space-between>
        <v-btn color="error" @click="reset()">Reset</v-btn>
        <div>
          <v-btn depressed @click="back()">Back</v-btn>
          <v-btn color="primary" @click="next()">Save & Continue</v-btn>
          <!-- <preview-form :data="getShowData" v-if="e1 === 6"></preview-form> -->
          <!-- <v-btn color="success" v-if="e1 == 6" @click="savePatient()">Save</v-btn> -->
        </div>
      </v-layout>
    </v-flex>
  </v-container>
</template>
<style scoped>
</style>
<script>
import constant from "../../../constant.js";
import custom from "../../../custom.js";
import { mapState } from "vuex";

export default {
  mounted() {
    this.laterality_v = constant.laterality;
    this.behavior_v = constant.behavior;
    this.extent_of_disease_v = constant.extent_of_disease;
    this.grade_v = constant.grade;
    this.readPrimarySite();
  },
  computed: {
    ...mapState(["e1"]),
    ...mapState(["patient_id"])
  },
  methods: {
    readPrimarySite() {
      const id = this.$store.state.patient_id;
      console.log("My ID", id);
      axios
        .get("/primarysite/" + id)
        .then(response => {
          this.primarydata = response.data;
        })
        .catch(error => {
          console.log("Bulk delete", error);
        });
    },
    reset() {
      this.$store.dispatch("updatee1", 1);
      this.$router.go();
    },
    back: function() {
      custom.scrollToTop();
      this.$store.dispatch("updatee1", --this.e1);
    },
    next: function() {
      custom.scrollToTop();

      this.$store.dispatch("updatee1", ++this.e1);
    },
    editItem(item) {
      axios
        .get("/primarysite/" + item)
        .then(response => {
          console.log("Primary site data ", response.data);
        })
        .catch(error => {
          console.log("Debug Message Error ", error);
        });
    },
    deleteItem(item) {
      alert("Delete Succesful");
      axios
        .delete("/primarysite/" + item)
        .then(response => {})
        .catch(error => {
          console.log("Debug Message Error ", error);
        });
      this.readPrimarySite();
    },
    savePage() {
      const newData = this.$data;
      newData["patient_id"] = this.patient_id;
      axios
        .post("/primarysite", { data: this.$data })
        .then(response => {
          // this.message = "Form has been submitted successfully";
          // this.snackbar = true;
        })
        .catch(error => {
          console.log("Debug Message Error ", error);
          // this.$store.commit("setLoading", false);
        });
      this.readPrimarySite();
    }
  },
  data() {
    return {
      extent_of_disease: null,
      clinical_diagnosis: null,
      date_of_diagnosis: null,
      basis_of_diagnosis_radio: null,
      primary_site: null,
      primary_site_code: null,
      microscopic_finding_primary_site: null,
      microscopic_finding_primary_site_code: null,
      laterality: null,
      morpological_diagnosis_primary_site: null,
      morpological_diagnosis_primary_site_code: null,
      grade: null,
      pr_staging_tumor: null,
      pr_staging_node: null,
      pr_staging_metasis: null,
      pr_staging_figo: null,
      pr_staging_Arbor: null,
      pr_staging_composite: null,
      pr_staging_other: null,

      laterality_v: [],
      behavior_v: [],
      extent_of_disease_v: [],
      grade_v: [],

      behavior: null,

      primaryheaders: [
        {
          text: "S.N",
          align: "left",
          sortable: false,
          value: "sn"
        },
        { text: "Date", value: "date" },
        { text: "Primary Site", value: "primarysi" },
        { text: "Laterality of primary tumour", value: "laterality" },
        { text: "Actions", value: "action" }
      ],
      primarydata: []
    };
  }
};
</script>