<template>
  <v-container grid-list-lg>
    <v-layout row wrap>
      <label for>
        <h2>Secondary Site</h2>
      </label>
    </v-layout>
    <v-layout row wrap>
      <v-flex>
        <v-data-table :headers="secondaryheaders" :items="secondaryData">
          <template v-slot:items="props">
            <td class="text-xs-left">{{ props.index +1}}</td>
            <td class="text-xs-left">{{ props.item.date_of_diagnosis }}</td>
            <td class="text-xs-left">{{ props.item.secondary_metastasis_site }}</td>
            <td class="text-xs-left">{{ props.item.secondary_behaviour }}</td>
            <td class="text-xs-left">
              <v-icon small class="mr-2" @click="editItem(props.item.id)">edit</v-icon>
              <v-icon small @click="deleteItem(props.item.id)">delete</v-icon>
            </td>
          </template>
        </v-data-table>
      </v-flex>
    </v-layout>
    <v-layout row wrap>
      <label for>
        <h2>Add New Secondary Site</h2>
      </label>
    </v-layout>
    <v-layout row wrap>
      <v-flex xs12 sm6 md5>
        <v-text-field type="date" v-model="date_of_diagnosis" label="Date" required></v-text-field>
      </v-flex>
    </v-layout>
    <v-layout row wrap>
      <v-flex xs12 sm6 md5>
        <v-select
          :items="secondary_metastasis_site_v"
          label="Secondary/metastasis site"
          v-model="secondary_metastasis_site"
          item-text="text"
          item-value="value"
        ></v-select>
      </v-flex>
      <v-flex md1 sm0 xs0></v-flex>
      <v-flex xs12 sm6 md5>
        <v-text-field
          v-model="secondary_metastasis_site_specify"
          v-if="secondary_metastasis_site==='Other(Specify)'"
          label="(Specify)"
          required
        ></v-text-field>
      </v-flex>
    </v-layout>
    <v-layout row wrap>
      <v-flex xs12 sm6 md5>
        <v-text-field
          v-model="microscopic_finding_secondary_site"
          label="Mircroscopic finding of secondary site"
        ></v-text-field>
      </v-flex>
      <v-flex md1 sm0 xs0></v-flex>

      <v-flex xs12 sm6 md5>
        <v-text-field
          v-model="
          microscopic_finding_secondary_site_code"
          label="ICD-0 code Ed"
        ></v-text-field>
      </v-flex>
    </v-layout>
    <v-layout row wrap>
      <v-flex xs12 sm6 md5>
        <v-select
          :items="secondary_behaviour_v"
          label="Secondary Behaivor"
          v-model="secondary_behaviour"
          item-text="text"
          item-value="value"
        ></v-select>
      </v-flex>
      <v-flex md1 sm0 xs0></v-flex>
    </v-layout>
    <v-layout>
      <v-flex>
        <v-btn color="success" @click="savePage()" dark>Add a New Secondary Site</v-btn>
      </v-flex>
    </v-layout>
    <v-flex>
      <v-layout row justify-space-between>
        <v-btn color="error" @click="reset()">Reset</v-btn>
        <div>
          <v-btn depressed @click="back()">Back</v-btn>
          <v-btn color="primary" @click="next()">Save & Continue</v-btn>
          <!-- <preview-form :data="getShowData" v-if="e1 === 6"></preview-form> -->
          <!-- <v-btn color="success" v-if="e1 == 6" @click="savePatient()">Save</v-btn> -->
        </div>
      </v-layout>
    </v-flex>
  </v-container>
</template>
<script>
import constant from "../../../constant.js";
import custom from "../../../custom.js";
import { mapState } from "vuex";

export default {
  mounted() {
    this.secondary_metastasis_site_v = constant.secondary_metastasis_site;
    this.secondary_behaviour_v = constant.secondary_behaviour;
    this.readSecondarySite();
  },
  computed: {
    ...mapState(["e1"]),
    ...mapState(["patient_id"])
  },
  data() {
    return {
      secondaryheaders: [
        {
          text: "S.N",
          align: "left",
          sortable: false,
          value: "name"
        },
        { text: "Date", value: "date" },
        { text: "Secondary Site", value: "secodarysi" },
        { text: "Secondary Behaivor", value: "sbehavior" },
        { text: "Actions", value: "action" }
      ],

      secondary_metastasis_site: null,
      secondary_metastasis_site_specify: null,
      microscopic_finding_secondary_site: null,
      microscopic_finding_secondary_site_code: null,
      secondary_behaviour: null,
      date_of_diagnosis: null,
      secondary_metastasis_site_v: [],
      secondary_behaviour_v: [],
      secondaryData: []
    };
  },
  methods: {
    reset() {
      this.$store.dispatch("updatee1", 1);
      this.$router.go();
    },
    back: function() {
      custom.scrollToTop();
      this.$store.dispatch("updatee1", --this.e1);
    },
    next: function() {
      custom.scrollToTop();

      this.$store.dispatch("updatee1", ++this.e1);
    },
    savePage() {
      const newData = this.$data;
      newData["patient_id"] = this.patient_id;
      axios
        .post("/secondarysite", { data: this.$data })
        .then(response => {
          // this.message = "Form has been submitted successfully";
          // this.snackbar = true;
        })
        .catch(error => {
          console.log("Debug Message Error ", error);
          // this.$store.commit("setLoading", false);
        });
      this.readSecondarySite();
    },
    editItem(item) {
      axios
        .get("/secondarysite/" + item)
        .then(response => {
          console.log("Primary site data ", response.data);
        })
        .catch(error => {
          console.log("Debug Message Error ", error);
        });
    },
    deleteItem(item) {
      alert("Delete Succesful");
      axios
        .delete("/secondarysite/" + item)
        .then(response => {})
        .catch(error => {
          console.log("Debug Message Error ", error);
        });
      this.readSecondarySite();
    },
    readSecondarySite() {
      const id = this.$store.state.patient_id;
      axios
        .get("/secondarysite/" + id)
        .then(response => {
          this.secondaryData = response.data;
        })
        .catch(error => {
          console.log("Bulk delete", error);
        });
    }
  }
};
</script>
<style scoped>
</style>