<template>
  <v-container grid-list-lg>
    <v-layout row wrap>
      <label for="treatmentlist">
        <h2>Treatment List</h2>
      </label>
    </v-layout>
    <v-layout row wrap>
      <v-flex>
        <v-data-table :headers="treatmentheaders" :items="treatmentData">
          <template v-slot:items="props">
            <td class="text-xs-left">{{ props.index +1}}</td>
            <td class="text-xs-left">{{ props.item.treatment_date }}</td>
            <td class="text-xs-left">{{ props.item.treatment?props.item.treatment:"NO" }}</td>
            <td class="text-xs-left">{{ props.item.status_of_last_contact }}</td>
            <td class="text-xs-left">
              <v-icon small class="mr-2" @click="editItem(props.item.id)">edit</v-icon>
              <v-icon small @click="deleteItem(props.item.id)">delete</v-icon>
            </td>
          </template>
        </v-data-table>
      </v-flex>
    </v-layout>
    <v-layout row wrap>
      <label for="addtreatment">
        <h2>Add new treatment</h2>
      </label>
    </v-layout>
    <v-layout row wrap>
      <v-flex xs12 sm4 md4>
        <v-text-field type="date" v-model="treatment_date" label="Treatment Date" required></v-text-field>
      </v-flex>
    </v-layout>
    <v-layout row wrap>
      <v-flex>TMT Classification</v-flex>
    </v-layout>
    <v-layout row wrap>
      <v-flex xs12 sm4 md4>
        <v-text-field v-model="tmt_tumor" label="Tumor" required></v-text-field>
      </v-flex>
      <v-flex xs12 sm4 md4>
        <v-text-field v-model="tmt_node" label="Node" required></v-text-field>
      </v-flex>
      <v-flex xs12 sm4 md4>
        <v-text-field v-model="tmt_metasis" label="Metastasis" required></v-text-field>
      </v-flex>
    </v-layout>
    <v-layout no wrap>
      <v-flex xs12 sm4 md4>
        <v-select
          :items="stages_figo_v"
          item-text="text"
          item-value="value"
          label="Stage/FIGO for Gynecological Cancer"
          v-model="stages_figo_gyn"
        ></v-select>
      </v-flex>
    </v-layout>
    <v-layout no wrap>
      <v-flex xs12 sm4 md4>
        <v-select
          :items="treatment_given_v"
          item-text="text"
          item-value="value"
          label="Treatment given/taking"
          v-model="treatment_given"
        ></v-select>
      </v-flex>
      <v-flex xs12 sm4 md4>
        <v-select
          :items="treatment_type_v"
          item-text="text"
          item-value="value"
          label="Treatment Type"
          v-if="treatment_given==='Yes'"
          v-model="treatment_type"
        ></v-select>
      </v-flex>
    </v-layout>
    <v-layout no wrap>
      <v-flex xs12 sm4 md4>
        <v-select
          :items="treatment_v"
          item-text="text"
          item-value="value"
          label="Treatment"
          v-if="treatment_given==='Yes'"
          v-model="treatment"
        ></v-select>
      </v-flex>
      <v-flex xs12 sm4 md4>
        <v-select
          :items="status_treatment_v"
          item-text="text"
          item-value="value"
          label="Status"
          v-if="treatment==='Radiotherapy'||treatment==='Chemotherapy'"
          v-model="treatmentStatus"
        ></v-select>
      </v-flex>
    </v-layout>
    <v-layout no wrap>
      <v-flex xs12 sm4 md4>
        <v-select
          :items="completion_treatment_v"
          item-text="text"
          item-value="value"
          label="Completion of Treatment"
          v-model="treatment_completion"
        ></v-select>
      </v-flex>
    </v-layout>
    <v-layout no wrap>
      <v-flex xs12 sm4 md4>
        <v-select
          :items="status_of_last_contact_v"
          item-text="text"
          item-value="value"
          label="Status of last contract"
          v-model="status_of_last_contact"
        ></v-select>
      </v-flex>
      <v-flex xs12 sm4 md4>
        <v-text-field
          type="date"
          v-model="date_of_last_contact"
          label="Date of last contract"
          required
        ></v-text-field>
      </v-flex>
    </v-layout>
    <v-layout no wrap>
      <v-flex>
        <v-btn color="success" @click="savePage()" dark>Add a New Treatment</v-btn>
      </v-flex>
    </v-layout>
    <v-flex>
      <v-layout row justify-space-between>
        <v-btn color="error" @click="reset()">Reset</v-btn>
        <div>
          <v-btn depressed @click="back()">Back</v-btn>
          <v-btn color="primary" @click="next()">Save & Continue</v-btn>
          <!-- <preview-form :data="getShowData" v-if="e1 === 6"></preview-form> -->
          <!-- <v-btn color="success" v-if="e1 == 6" @click="savePatient()">Save</v-btn> -->
        </div>
      </v-layout>
    </v-flex>
  </v-container>
</template>
<style scoped>
</style>
<script>
import constant from "../../../constant.js";
import custom from "../../../custom.js";
import { mapState } from "vuex";

export default {
  mounted() {
    this.status_of_last_contact_v = constant.status_of_last_contact;
    this.stages_figo_v = constant.stages_figo;
    this.status_treatment_v = constant.status_treatment;
    this.treatment_v = constant.treatment;
    this.treatment_given_v = constant.treatment_given;
    this.treatment_type_v = constant.treatment_type;
    this.completion_treatment_v = constant.completion_treatment;
    this.readTreatment();
  },
  computed: {
    ...mapState(["e1"]),
    ...mapState(["patient_id"])
  },
  data() {
    return {
      treatmentheaders: [
        {
          text: "S.N",
          align: "left",
          sortable: false,
          value: "name"
        },
        { text: "Date", value: "date" },
        { text: "Treatment", value: "secodarysi" },
        { text: "Status", value: "sbehavior" },
        { text: "Actions", value: "action" }
      ],

      tmt_tumor: null,
      tmt_node: null,
      tmt_metasis: null,
      stages_figo_gyn: null,
      treatment_given: null,
      treatment_type: null,
      treatment: null,
      treatmentStatus: null,
      treatment_completion: null,
      status_of_last_contact: null,
      date_of_last_contact: null,
      status_of_last_contact_v: [],
      stages_figo_v: [],
      status_treatment_v: [],
      treatment_v: [],
      treatment_given_v: [],
      treatment_type_v: [],
      completion_treatment_v: [],
      treatment_date: null,
      treatmentData: []
    };
  },
  methods: {
    reset() {
      this.$store.dispatch("updatee1", 1);
      this.$router.go();
    },
    back: function() {
      custom.scrollToTop();
      this.$store.dispatch("updatee1", --this.e1);
    },
    next: function() {
      // this.savePage();
      custom.scrollToTop();
      console.log("Value of E1", ++this.e1);
      this.$store.dispatch("updatee1", ++this.e1);
    },
    savePage() {
      const newData = this.$data;
      newData["patient_id"] = this.patient_id;
      axios
        .post("/treatment", { data: this.$data })
        .then(response => {
          // this.message = "Form has been submitted successfully";
          // this.snackbar = true;
        })
        .catch(error => {
          console.log("Debug Message Error ", error);
          // this.$store.commit("setLoading", false);
        });
      this.readTreatment();
    },
    editItem(item) {
      axios
        .get("/treatment/" + item)
        .then(response => {
          console.log("Treatment site data ", response.data);
          // alert("Edit Succesful");
        })
        .catch(error => {
          console.log("Debug Message Error ", error);
        });
    },
    deleteItem(item) {
      alert("Delete Succesful");
      axios
        .delete("/treatment/" + item)
        .then(response => {})
        .catch(error => {
          console.log("Debug Message Error ", error);
        });
      this.readTreatment();
    },
    readTreatment() {
      const id = this.$store.state.patient_id;
      axios
        .get("/treatment/" + id)
        .then(response => {
          this.treatmentData = response.data;
        })
        .catch(error => {
          console.log("Bulk delete", error);
        });
    }
  }
};
</script>